{
  "openapi": "3.1.0",
  "info": {
    "title": "Ranking History API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.spyfu.com/apis/organic_history_api"
    }
  ],
  "paths": {
    "/v2/historic/getHistoricRankingsForDomain": {
      "get": {
        "operationId": "HistoricRanking_GetHistoricRankingsForDomain_GET",
        "summary": "Find domains historic rankings for a date range",
        "description": "Find domains historic rankings for a date range.",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to get ad history for.",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "domain.com"
              ]
            },
            "example": "domain.com"
          },
          {
            "name": "queryType",
            "in": "query",
            "description": "Query type",
            "schema": {
              "type": "string",
              "examples": [
                "MostValuable"
              ],
              "enum": [
                "MostValuable",
                "FellFromTop10",
                "MadeTheTop10",
                "NewKeywords",
                "NoLongerRanks",
                "GainedRanks",
                "LostRanks",
                "GainedClicks",
                "LostClicks"
              ]
            },
            "example": "MostValuable"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Beginning date for range",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2025-01"
              ]
            },
            "example": "2025-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Ending date for range",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2025-07"
              ]
            },
            "example": "2025-07"
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "CSV of terms that are required to be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Include ANY or ALL terms.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "CSV of terms that are required to not be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startRank.min",
            "in": "query",
            "description": "Filter by the starting rank of the keyword on the domain for the date range.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "startRank.max",
            "in": "query",
            "description": "Filter by the starting rank of the keyword on the domain for the date range.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "endRank.min",
            "in": "query",
            "description": "Filter by the ending rank of the keyword on the domain for the date range.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "endRank.max",
            "in": "query",
            "description": "Filter by the ending rank of the keyword on the domain for the date range.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "endRankChange.min",
            "in": "query",
            "description": "Filter by the change in rank for the date range.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "endRankChange.max",
            "in": "query",
            "description": "Filter by the change in rank for the date range.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "seoClicks.min",
            "in": "query",
            "description": "Filter by the number of organic clicks for this keyword.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "seoClicks.max",
            "in": "query",
            "description": "Filter by the number of organic clicks for this keyword.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "seoClicksChange.min",
            "in": "query",
            "description": "Filter by the change in organic clicks for this keyword.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "seoClicksChange.max",
            "in": "query",
            "description": "Filter by the change in organic clicks for this keyword.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AT",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PL",
                "PT",
                "SE",
                "SG",
                "TR",
                "UA",
                "UK",
                "US",
                "ZA"
              ]
            },
            "example": "US"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "enum": [
                "ClicksChange",
                "EndClicks",
                "StartRank",
                "EndRank",
                "RankChange"
              ]
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort by",
            "schema": {
              "type": "string",
              "enum": [
                "Ascending",
                "Descending"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "historicalRanks": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "additionalProperties": {
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "startRank": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32"
                          },
                          "endRank": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32"
                          },
                          "rankChange": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32"
                          },
                          "endClicks": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "clicksChange": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "searchVolume": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64"
                          }
                        },
                        "additionalProperties": false
                      },
                      "readOnly": true
                    },
                    "totalVolume": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "totalClicks": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "totalClicksChange": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "totalRankChange": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    },
                    "rankAverage": {
                      "type": "number",
                      "format": "double",
                      "readOnly": true
                    },
                    "rankAverageChange": {
                      "type": "number",
                      "format": "double",
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "type": "integer",
                      "format": "int64",
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Ranking History API"
        ]
      }
    },
    "/v2/historic/getHistoricRankingsForKeywordOnDomains": {
      "get": {
        "operationId": "HistoricRanking_GetHistoricRankingsForKeywordOnDomains_GET",
        "summary": "Find historic rankings for a keyword on various domains for a date range",
        "description": "Find domains historic rankings for a date range",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domains",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Beginning date for range",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2025-01"
              ]
            },
            "example": "2025-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Ending date for range",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2025-07"
              ]
            },
            "example": "2025-07"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AT",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PL",
                "PT",
                "SE",
                "SG",
                "TR",
                "UA",
                "UK",
                "US",
                "ZA"
              ]
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "keyword": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "results": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "additionalProperties": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Ranking History API"
        ]
      }
    },
    "/v2/historic/getHistoricRankingsForDomainOnKeywords": {
      "get": {
        "operationId": "HistoricRanking_GetHistoricRankingsForDomainOnKeywords_GET",
        "summary": "Find historic rankings for a domain on various keywords for a date range",
        "description": "Find domains historic rankings for a date range",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Beginning date for range",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2025-01"
              ]
            },
            "example": "2025-01"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Ending date for range",
            "schema": {
              "type": "string",
              "format": "date-time",
              "examples": [
                "2025-07"
              ]
            },
            "example": "2025-07"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AT",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PL",
                "PT",
                "SE",
                "SG",
                "TR",
                "UA",
                "UK",
                "US",
                "ZA"
              ]
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "keyword": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "results": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "additionalProperties": {
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        },
                        "additionalProperties": false
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Ranking History API"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PublicApiDomainAndKeywordWrapperOutputDto": {
        "type": "object",
        "properties": {
          "resultCount": {
            "description": "Number of results returned",
            "type": "integer",
            "format": "int32",
            "examples": [
              100
            ],
            "readOnly": true
          },
          "results": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "keyword": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "results": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "PublicApiDomainOnKeywordOutputDto": {
        "type": "object",
        "properties": {
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "keyword": {
            "type": [
              "string",
              "null"
            ]
          },
          "results": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "additionalProperties": false
      },
      "PublicApiHistoricRankOutputDto": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": [
              "string",
              "null"
            ]
          },
          "historicalRanks": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "integer",
              "format": "int32"
            }
          },
          "startRank": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "endRank": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "rankChange": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32"
          },
          "endClicks": {
            "type": "integer",
            "format": "int64"
          },
          "clicksChange": {
            "type": "integer",
            "format": "int64"
          },
          "searchVolume": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        },
        "additionalProperties": false
      },
      "PublicApiHistoricRankingWrapperOutputDto": {
        "type": "object",
        "properties": {
          "resultCount": {
            "description": "Number of results returned",
            "type": "integer",
            "format": "int32",
            "examples": [
              100
            ],
            "readOnly": true
          },
          "results": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "keyword": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "historicalRanks": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "startRank": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int32"
                },
                "endRank": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int32"
                },
                "rankChange": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int32"
                },
                "endClicks": {
                  "type": "integer",
                  "format": "int64"
                },
                "clicksChange": {
                  "type": "integer",
                  "format": "int64"
                },
                "searchVolume": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int64"
                }
              },
              "additionalProperties": false
            },
            "readOnly": true
          },
          "totalVolume": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "totalClicks": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "totalClicksChange": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "totalRankChange": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "rankAverage": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "rankAverageChange": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "totalMatchingResults": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Basic_Authentication_Token": {
        "type": "http",
        "description": "<a href=\"https://en.wikipedia.org/wiki/Basic_access_authentication#Client_side\" target=\"_blank\">Basic Authentication</a> is a standard that involves encoding your <code>SPYFU_API_ID:SECRET_KEY</code> into a Base64 string. Your <b>SpyFu API ID</b> and <b>Secret Key</b> can both be found under the <b><a href=\"https://www.spyfu.com/account/api\" target=\"_blank\">Account Settings -> API Usage</a></b> page. Additionally, you can find the Base64 string has been pre-generated on the same page under <b>Base 64 Key</b>. Finally, this encoded string is sent in the \"Authorization\" header prefixed with the keyword \"Basic\":<br>For example, to authorize as <code>00000000-0000-0000-0000-000000000000:AB12WXYZ</code> the client would send<br><pre><code>Authorization: <span class=\"token keyword\">Basic</span> <span class=\"token constructor-invocation class-name\">MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwOkFCMTJXWFla<span></code></pre>",
        "scheme": "basic"
      },
      "Query_Parameter_Token": {
        "type": "apiKey",
        "description": "An API key can be added as a query parameter. Your API key is listed as \"Secret Key\" found under the <b><a href=\"https://www.spyfu.com/account/api\" target=\"_blank\">Account Settings -> API Usage</a></b> page<br>For example, to authorize with the API key <code>AB12WXY</code><br><pre><code>/apis/example_api/GetExample?domain=spyfu.com<span class=\"token keyword\">&api_key=AB12WXYZ</span></code></pre>",
        "name": "api_key",
        "in": "query"
      },
      "HMAC_Authentication_Header": {
        "type": "apiKey",
        "description": "For even more security, each request can be individually authenticated with a timestamped <a href=\"https://en.wikipedia.org/wiki/HMAC\" target=\"_blank\"><b>HMAC</b></a> <em>(Hash Message Authentication Code)</em> signature. Composed of your secret key, a valid timestamp, the API request path, and all request parameters. <h3>Creating the signature:</h3><br>Combine the pieces that will be converted into the signature.<br><pre><code><span class=\"token keyword\">StringToSign</span> <span class=\"token operator\">=</span><br>&#x09;HTTP-Verb <span class=\"token operator\">+</span> <span class=\"token string\">\"\\n\"</span> <span class=\"token operator\">+</span><br>&#x09;Timestamp <span class=\"token operator\">+</span> <span class=\"token string\">\"\\n\"</span> <span class=\"token operator\">+</span><br>&#x09;UrlPath <span class=\"token operator\">+</span> <span class=\"token string\">\"\\n\"</span><br>&#x09;QueryParameters<span class=\"token operator\">;</span><br></code></pre><br>Create UTF-8 encodings of the above string and of your secret key.<br><pre><code><span class=\"token keyword\">byte</span><span class=\"token operator\">[]</span> SecretKeyBytes <span class=\"token operator\">=</span> <span class=\"token function\">UTF-8-Encoding-Of</span><span class=\"token operator\">(</span> Upper-Case-Of<span class=\"token operator\">(</span> SECRET_KEY <span class=\"token operator\">)</span> <span class=\"token operator\">)</span><span class=\"token operator\">;</span><br><span class=\"token keyword\">byte</span><span class=\"token operator\">[]</span> StringToSignBytes <span class=\"token operator\">=</span> <span class=\"token function\">UTF-8-Encoding-Of</span><span class=\"token operator\">(</span> StringToSign <span class=\"token operator\">)</span><span class=\"token operator\">;</span><br></code></pre><br>Use an implementation of HMAC256 using your UTF-8 secret key to encode the combined string of your request. This should then be converted to Base64 to finish creating your signature.<br><pre><code><span class=\"token keyword\">Signature</span> <span class=\"token operator\">=</span> <span class=\"token function\">Base64</span><span class=\"token operator\">(</span> <span class=\"token function\">HMAC-SHA256</span><span class=\"token operator\">(</span> SecretKeyBytes, StringToSignBytes <span class=\"token operator\">)</span> <span class=\"token operator\">)</span><span class=\"token operator\">;</span><br></code></pre><br><h3>Using the signature:</h3><br>This signature is then sent in through an Authentication header with your username.<br><pre><code>Authentication<span class=\"token operator\">:</span> <span class=\"token keyword\">UserName</span><span class=\"token operator\">:</span><span class=\"token invocation class-name\">Signature</span></code></pre>",
        "name": "Authentication",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Basic_Authentication_Token": []
    },
    {
      "Query_Parameter_Token": []
    },
    {
      "HMAC_Authentication_Header": []
    }
  ]
}