{
  "openapi": "3.1.0",
  "info": {
    "title": "SEO Research API",
    "version": "v2",
    "description": "Quickly see comprehensive keyword rankings for any URL or domain in every country. Instantly monitor your SEO progress, competitor shifts, and opportunities from the world's largest SERP index."
  },
  "servers": [
    {
      "url": "https://api.spyfu.com/apis/serp_api"
    }
  ],
  "paths": {
    "/v2/seo/getMostValuableKeywords": {
      "get": {
        "operationId": "OrganicSerpApi_GetMostValuableKeywords_GET",
        "summary": "Get Most Valuable Keywords",
        "description": "Returns keywords that generate the highest organic click volume for a domain. This doesn't just work for full domains, it also works for paths, subdomains, individual pages, or specific URLs. This endpoint identifies the most traffic-driving keywords to reveal a domain's most valuable SEO assets and content opportunities.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/seo/keywords/domain?includeAnyTerm=true&includeAnyUrl=true&searchType=mostvaluable&sidebarContext=filters&query=amazon.com)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Full domain, specific URL, subdomain, path or page to analyze.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri-reference",
              "examples": [
                "example.com",
                "example.com/blog",
                "blog.example.com",
                "www.example.com/any/path/or?page"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort results by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": "SearchVolume",
              "enum": [
                "SearchVolume",
                "KeywordDifficulty",
                "Rank",
                "RankChange",
                "SeoClicks",
                "SeoClicksChange",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "ExactCostPerClick",
                "PhraseCostPerClick",
                "BroadMonthlyCost",
                "ExactMonthlyCost",
                "PhraseMonthlyCost",
                "TotalMonthlyClicks",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Number of searches done this past month on Google.com (or within selected country). Blended from multiple sources for better snapshot of search activity",
                "KeywordDifficulty": "SEO ranking difficulty score (0-100 scale, higher = more difficult to rank). Based on domain strength, on-page signals like 'keyword in title,' and number of .gov/.edu domains",
                "Rank": "Organic search result position (1 = top organic result)",
                "RankChange": "Change in organic position from previous data update (positive values indicate ranking improvement; negative values indicate moving further down the SERP).",
                "SeoClicks": "Estimated number of organic clicks the domain gets from ranking on this keyword",
                "SeoClicksChange": "Change in estimated organic clicks from previous data update",
                "PercentMobileSearches": "Percentage breakdown of searches from mobile vs desktop devices",
                "PercentDesktopSearches": "Percentage breakdown of searches from desktop vs mobile devices",
                "PercentNotClicked": "Rate that searchers leave the SERP without clicking any result",
                "PercentPaidClicks": "Percentage of SERP clicks that went to paid ads",
                "PercentOrganicClicks": "Percentage of SERP clicks that went to organic results",
                "BroadCostPerClick": "Average amount advertisers pay per click for broad match ads on this keyword",
                "ExactCostPerClick": "Average amount advertisers pay per click for exact match ads on this keyword",
                "PhraseCostPerClick": "Average amount advertisers pay per click for phrase match ads on this keyword",
                "BroadMonthlyCost": "Estimated monthly ad spend for broad match bidding",
                "ExactMonthlyCost": "Estimated monthly ad spend for exact match bidding",
                "PhraseMonthlyCost": "Estimated monthly ad spend for phrase match bidding",
                "TotalMonthlyClicks": "Total estimated clicks made on this SERP to any paid or organic results",
                "PaidCompetitors": "Total number of advertisers seen over the last 6 months for this keyword",
                "RankingHomepages": "Number of homepage URLs (vs deeper paths) ranking within first 100 results"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ]
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google domain version to query against (e.g., google.com for US, google.de for Germany, etc.).",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "x-enumDescriptions": {
                "AR": "Argentina",
                "AU": "Australia",
                "BE": "Belgium",
                "BR": "Brazil",
                "CA": "Canada",
                "CH": "Switzerland",
                "DE": "Germany",
                "DK": "Denmark",
                "ES": "Spain",
                "FR": "France",
                "IE": "Ireland",
                "IN": "India",
                "IT": "Italy",
                "JP": "Japan",
                "MX": "Mexico",
                "NL": "Netherlands",
                "NO": "Norway",
                "NZ": "New Zealand",
                "PT": "Portugal",
                "SE": "Sweden",
                "SG": "Singapore",
                "UA": "Ukraine",
                "UK": "United Kingdom",
                "US": "United States",
                "ZA": "South Africa"
              }
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          },
          {
            "name": "onlyAdultKeywords",
            "in": "query",
            "description": "Only include adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ],
              "default": false
            },
            "example": false
          },
          {
            "name": "excludeHomepageKeywords",
            "in": "query",
            "description": "Exclude keywords that rank on the homepage of the searched domain.",
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ],
              "default": false
            },
            "example": false
          },
          {
            "name": "keywordDifficulty.min",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "keywordDifficulty.max",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.min",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.max",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "CSV of terms that are required to be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Require ANY or ALL terms from the includeTerms parameter to be in the keyword.  ANY = TRUE, ALL = FALSE.  ALL is the default.  ",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "CSV of terms to exclude from any of the keywords.  This is always applied as an ANY.  No keywords with ANY of the terms in the CSV will be returned.  ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the most valuable keywords by organic click volume. Returns a paginated list of keywords prioritized by traffic value and search data.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing organic SERP keyword results with comprehensive SEO metrics and pagination metadata.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of organic search keywords with comprehensive SEO metrics including rankings, click estimates, and SERP analysis data.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "The keyword for which this domain ranks organically in the top 100 search results.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ],
                            "readOnly": true
                          },
                          "topRankedUrl": {
                            "description": "The highest ranking URL from this domain for this specific keyword.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "https://example.com/best-running-shoes"
                            ],
                            "readOnly": true
                          },
                          "rank": {
                            "description": "Current organic search position for this keyword (1 = top position).",
                            "type": "integer",
                            "format": "int32",
                            "examples": [
                              7
                            ],
                            "readOnly": true
                          },
                          "rankChange": {
                            "description": "Change in ranking position since the previous measurement period (positive values indicate ranking improvement; negative values indicate moving further down the SERP).",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              -3
                            ],
                            "readOnly": true
                          },
                          "searchVolume": {
                            "description": "Monthly search volume for this keyword based on Google search data across the selected country/region.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              700000
                            ],
                            "readOnly": true
                          },
                          "keywordDifficulty": {
                            "description": "SEO difficulty score (1-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": "integer",
                            "format": "int32",
                            "examples": [
                              69
                            ],
                            "readOnly": true
                          },
                          "broadCostPerClick": {
                            "description": "Average cost per click for broad match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost per click for phrase match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "exactCostPerClick": {
                            "description": "Average cost per click for exact match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "seoClicks": {
                            "description": "Estimated monthly organic clicks this domain receives from this keyword based on current ranking position.",
                            "type": "integer",
                            "format": "int64",
                            "examples": [
                              3000
                            ],
                            "readOnly": true
                          },
                          "seoClicksChange": {
                            "description": "Change in estimated organic clicks compared to the previous measurement period.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              -600
                            ],
                            "readOnly": true
                          },
                          "totalMonthlyClicks": {
                            "description": "Total number of clicks (organic and paid combined) on search results for this keyword in the past month.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              647000
                            ],
                            "readOnly": true
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that come from mobile devices.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.4
                            ],
                            "readOnly": true
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that come from desktop devices.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.6
                            ],
                            "readOnly": true
                          },
                          "percentNotClicked": {
                            "description": "Percentage of searches where users leave the SERP without clicking any result.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.075
                            ],
                            "readOnly": true
                          },
                          "percentPaidClicks": {
                            "description": "Percentage of total SERP clicks that go to paid ads.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.079
                            ],
                            "readOnly": true
                          },
                          "percentOrganicClicks": {
                            "description": "Percentage of total SERP clicks that go to organic search results.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.921
                            ],
                            "readOnly": true
                          },
                          "broadMonthlyCost": {
                            "description": "Estimated monthly advertising cost for broad match bidding on this keyword from the #2 position.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              6043.5
                            ],
                            "readOnly": true
                          },
                          "phraseMonthlyCost": {
                            "description": "Estimated monthly advertising cost for phrase match bidding on this keyword from the #2 position.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              5695.5
                            ],
                            "readOnly": true
                          },
                          "exactMonthlyCost": {
                            "description": "Estimated monthly advertising cost for exact match bidding on this keyword from the #2 position.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              5392.5
                            ],
                            "readOnly": true
                          },
                          "paidCompetitors": {
                            "description": "Total number of advertisers observed purchasing ads for this keyword over the last 14 months.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              0
                            ],
                            "readOnly": true
                          },
                          "rankingHomepages": {
                            "description": "Number of domain homepages (vs. deeper pages) ranking in the top 100 organic results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              10
                            ],
                            "readOnly": true
                          }
                        },
                        "additionalProperties": false,
                        "description": "Represents an organic search keyword with comprehensive SEO metrics including rankings, click estimates, costs, and SERP analysis data."
                      },
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "description": "Total number of organic keywords available that match the query criteria, including results not included in the current page.",
                      "type": "integer",
                      "format": "int64",
                      "examples": [
                        75000
                      ],
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., invalid domain format, pageSize exceeds maximum, or invalid country code)"
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials or insufficient permissions to access SEO keyword data"
          },
          "500": {
            "description": "Internal Server Error - A server-side error occurred while processing the request"
          }
        },
        "tags": [
          "SEO Research API"
        ]
      }
    },
    "/v2/seo/getNewlyRankedKeywords": {
      "get": {
        "operationId": "OrganicSerpApi_GetNewlyRankedKeywords_GET",
        "summary": "Get Newly Ranked Keywords",
        "description": "Returns keywords where a domain recently achieved rankings in the top 100 organic search results. This doesn't just work for full domains, it also works for paths, subdomains, individual pages, or specific URLs. This endpoint identifies fresh ranking opportunities to reveal new content successes and emerging SEO momentum.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/seo/keywords/domain?includeAnyTerm=true&includeAnyUrl=true&searchType=newlyranked&sidebarContext=filters&query=amazon.com)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Full domain, specific URL, subdomain, path or page to analyze.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri-reference",
              "examples": [
                "example.com",
                "example.com/blog",
                "blog.example.com",
                "www.example.com/any/path/or?page"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort results by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": "SearchVolume",
              "enum": [
                "SearchVolume",
                "KeywordDifficulty",
                "Rank",
                "RankChange",
                "SeoClicks",
                "SeoClicksChange",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "ExactCostPerClick",
                "PhraseCostPerClick",
                "BroadMonthlyCost",
                "ExactMonthlyCost",
                "PhraseMonthlyCost",
                "TotalMonthlyClicks",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Number of searches done this past month on Google.com (or within selected country). Blended from multiple sources for better snapshot of search activity",
                "KeywordDifficulty": "SEO ranking difficulty score (0-100 scale, higher = more difficult to rank). Based on domain strength, on-page signals like 'keyword in title,' and number of .gov/.edu domains",
                "Rank": "Organic search result position (1 = top organic result)",
                "RankChange": "Change in organic position from previous data update (positive values indicate ranking improvement; negative values indicate moving further down the SERP).",
                "SeoClicks": "Estimated number of organic clicks the domain gets from ranking on this keyword",
                "SeoClicksChange": "Change in estimated organic clicks from previous data update",
                "PercentMobileSearches": "Percentage breakdown of searches from mobile vs desktop devices",
                "PercentDesktopSearches": "Percentage breakdown of searches from desktop vs mobile devices",
                "PercentNotClicked": "Rate that searchers leave the SERP without clicking any result",
                "PercentPaidClicks": "Percentage of SERP clicks that went to paid ads",
                "PercentOrganicClicks": "Percentage of SERP clicks that went to organic results",
                "BroadCostPerClick": "Average amount advertisers pay per click for broad match ads on this keyword",
                "ExactCostPerClick": "Average amount advertisers pay per click for exact match ads on this keyword",
                "PhraseCostPerClick": "Average amount advertisers pay per click for phrase match ads on this keyword",
                "BroadMonthlyCost": "Estimated monthly ad spend for broad match bidding",
                "ExactMonthlyCost": "Estimated monthly ad spend for exact match bidding",
                "PhraseMonthlyCost": "Estimated monthly ad spend for phrase match bidding",
                "TotalMonthlyClicks": "Total estimated clicks made on this SERP to any paid or organic results",
                "PaidCompetitors": "Total number of advertisers seen over the last 6 months for this keyword",
                "RankingHomepages": "Number of homepage URLs (vs deeper paths) ranking within first 100 results"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ]
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google domain version to query against (e.g., google.com for US, google.de for Germany, etc.).",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "x-enumDescriptions": {
                "AR": "Argentina",
                "AU": "Australia",
                "BE": "Belgium",
                "BR": "Brazil",
                "CA": "Canada",
                "CH": "Switzerland",
                "DE": "Germany",
                "DK": "Denmark",
                "ES": "Spain",
                "FR": "France",
                "IE": "Ireland",
                "IN": "India",
                "IT": "Italy",
                "JP": "Japan",
                "MX": "Mexico",
                "NL": "Netherlands",
                "NO": "Norway",
                "NZ": "New Zealand",
                "PT": "Portugal",
                "SE": "Sweden",
                "SG": "Singapore",
                "UA": "Ukraine",
                "UK": "United Kingdom",
                "US": "United States",
                "ZA": "South Africa"
              }
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          },
          {
            "name": "onlyAdultKeywords",
            "in": "query",
            "description": "Only include adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ],
              "default": false
            },
            "example": false
          },
          {
            "name": "excludeHomepageKeywords",
            "in": "query",
            "description": "Exclude keywords that rank on the homepage of the searched domain.",
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ],
              "default": false
            },
            "example": false
          },
          {
            "name": "keywordDifficulty.min",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "keywordDifficulty.max",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.min",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.max",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "CSV of terms that are required to be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Require ANY or ALL terms from the includeTerms parameter to be in the keyword.  ANY = TRUE, ALL = FALSE.  ALL is the default.  ",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "CSV of terms to exclude from any of the keywords.  This is always applied as an ANY.  No keywords with ANY of the terms in the CSV will be returned.  ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved keywords with new rankings in the top 100. Returns a paginated list of keywords showing fresh ranking achievements and search data.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing organic SERP keyword results with comprehensive SEO metrics and pagination metadata.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of organic search keywords with comprehensive SEO metrics including rankings, click estimates, and SERP analysis data.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "The keyword for which this domain ranks organically in the top 100 search results.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ],
                            "readOnly": true
                          },
                          "topRankedUrl": {
                            "description": "The highest ranking URL from this domain for this specific keyword.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "https://example.com/best-running-shoes"
                            ],
                            "readOnly": true
                          },
                          "rank": {
                            "description": "Current organic search position for this keyword (1 = top position).",
                            "type": "integer",
                            "format": "int32",
                            "examples": [
                              7
                            ],
                            "readOnly": true
                          },
                          "rankChange": {
                            "description": "Change in ranking position since the previous measurement period (positive values indicate ranking improvement; negative values indicate moving further down the SERP).",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              -3
                            ],
                            "readOnly": true
                          },
                          "searchVolume": {
                            "description": "Monthly search volume for this keyword based on Google search data across the selected country/region.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              700000
                            ],
                            "readOnly": true
                          },
                          "keywordDifficulty": {
                            "description": "SEO difficulty score (1-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": "integer",
                            "format": "int32",
                            "examples": [
                              69
                            ],
                            "readOnly": true
                          },
                          "broadCostPerClick": {
                            "description": "Average cost per click for broad match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost per click for phrase match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "exactCostPerClick": {
                            "description": "Average cost per click for exact match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "seoClicks": {
                            "description": "Estimated monthly organic clicks this domain receives from this keyword based on current ranking position.",
                            "type": "integer",
                            "format": "int64",
                            "examples": [
                              3000
                            ],
                            "readOnly": true
                          },
                          "seoClicksChange": {
                            "description": "Change in estimated organic clicks compared to the previous measurement period.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              -600
                            ],
                            "readOnly": true
                          },
                          "totalMonthlyClicks": {
                            "description": "Total number of clicks (organic and paid combined) on search results for this keyword in the past month.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              647000
                            ],
                            "readOnly": true
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that come from mobile devices.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.4
                            ],
                            "readOnly": true
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that come from desktop devices.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.6
                            ],
                            "readOnly": true
                          },
                          "percentNotClicked": {
                            "description": "Percentage of searches where users leave the SERP without clicking any result.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.075
                            ],
                            "readOnly": true
                          },
                          "percentPaidClicks": {
                            "description": "Percentage of total SERP clicks that go to paid ads.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.079
                            ],
                            "readOnly": true
                          },
                          "percentOrganicClicks": {
                            "description": "Percentage of total SERP clicks that go to organic search results.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.921
                            ],
                            "readOnly": true
                          },
                          "broadMonthlyCost": {
                            "description": "Estimated monthly advertising cost for broad match bidding on this keyword from the #2 position.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              6043.5
                            ],
                            "readOnly": true
                          },
                          "phraseMonthlyCost": {
                            "description": "Estimated monthly advertising cost for phrase match bidding on this keyword from the #2 position.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              5695.5
                            ],
                            "readOnly": true
                          },
                          "exactMonthlyCost": {
                            "description": "Estimated monthly advertising cost for exact match bidding on this keyword from the #2 position.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              5392.5
                            ],
                            "readOnly": true
                          },
                          "paidCompetitors": {
                            "description": "Total number of advertisers observed purchasing ads for this keyword over the last 14 months.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              0
                            ],
                            "readOnly": true
                          },
                          "rankingHomepages": {
                            "description": "Number of domain homepages (vs. deeper pages) ranking in the top 100 organic results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              10
                            ],
                            "readOnly": true
                          }
                        },
                        "additionalProperties": false,
                        "description": "Represents an organic search keyword with comprehensive SEO metrics including rankings, click estimates, costs, and SERP analysis data."
                      },
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "description": "Total number of organic keywords available that match the query criteria, including results not included in the current page.",
                      "type": "integer",
                      "format": "int64",
                      "examples": [
                        75000
                      ],
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., invalid domain format, pageSize exceeds maximum, or invalid country code)"
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials or insufficient permissions to access SEO keyword data"
          },
          "500": {
            "description": "Internal Server Error - A server-side error occurred while processing the request"
          }
        },
        "tags": [
          "SEO Research API"
        ]
      }
    },
    "/v2/seo/getGainedRanksKeywords": {
      "get": {
        "operationId": "OrganicSerpApi_GetGainedRanksKeywords_GET",
        "summary": "Get Gained Ranks Keywords",
        "description": "Returns keywords where a domain improved its organic search ranking positions compared to the previous month. This doesn't just work for full domains, it also works for paths, subdomains, individual pages, or specific URLs. This endpoint identifies the biggest ranking gains to reveal successful SEO efforts and content optimizations.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/seo/keywords/domain?includeAnyTerm=true&includeAnyUrl=true&searchType=gainedranks&sidebarContext=filters&query=amazon.com)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Full domain, specific URL, subdomain, path or page to analyze.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri-reference",
              "examples": [
                "example.com",
                "example.com/blog",
                "blog.example.com",
                "www.example.com/any/path/or?page"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": "SearchVolume",
              "enum": [
                "SearchVolume",
                "KeywordDifficulty",
                "Rank",
                "RankChange",
                "SeoClicks",
                "SeoClicksChange",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "ExactCostPerClick",
                "PhraseCostPerClick",
                "BroadMonthlyCost",
                "ExactMonthlyCost",
                "PhraseMonthlyCost",
                "TotalMonthlyClicks",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Number of searches done this past month on Google.com (or within selected country). Blended from multiple sources for better snapshot of search activity",
                "KeywordDifficulty": "SEO ranking difficulty score (0-100 scale, higher = more difficult to rank). Based on domain strength, on-page signals like 'keyword in title,' and number of .gov/.edu domains",
                "Rank": "Organic search result position (1 = top organic result)",
                "RankChange": "Change in organic position from previous data update(positive values indicate ranking improvement; negative values indicate moving further down the SERP).",
                "SeoClicks": "Estimated number of organic clicks the domain gets from ranking on this keyword",
                "SeoClicksChange": "Change in estimated organic clicks from previous data update",
                "PercentMobileSearches": "Percentage breakdown of searches from mobile vs desktop devices",
                "PercentDesktopSearches": "Percentage breakdown of searches from desktop vs mobile devices",
                "PercentNotClicked": "Rate that searchers leave the SERP without clicking any result",
                "PercentPaidClicks": "Percentage of SERP clicks that went to paid ads",
                "PercentOrganicClicks": "Percentage of SERP clicks that went to organic results",
                "BroadCostPerClick": "Average amount advertisers pay per click for broad match ads on this keyword",
                "ExactCostPerClick": "Average amount advertisers pay per click for exact match ads on this keyword",
                "PhraseCostPerClick": "Average amount advertisers pay per click for phrase match ads on this keyword",
                "BroadMonthlyCost": "Estimated monthly ad spend for broad match bidding",
                "ExactMonthlyCost": "Estimated monthly ad spend for exact match bidding",
                "PhraseMonthlyCost": "Estimated monthly ad spend for phrase match bidding",
                "TotalMonthlyClicks": "Total estimated clicks made on this SERP to any paid or organic results",
                "PaidCompetitors": "Total number of advertisers seen over the last 6 months for this keyword",
                "RankingHomepages": "Number of homepage URLs (vs deeper paths) ranking within first 100 results"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ]
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google domain version to query against (e.g., google.com for US, google.de for Germany, etc.).",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "x-enumDescriptions": {
                "AR": "Argentina",
                "AU": "Australia",
                "BE": "Belgium",
                "BR": "Brazil",
                "CA": "Canada",
                "CH": "Switzerland",
                "DE": "Germany",
                "DK": "Denmark",
                "ES": "Spain",
                "FR": "France",
                "IE": "Ireland",
                "IN": "India",
                "IT": "Italy",
                "JP": "Japan",
                "MX": "Mexico",
                "NL": "Netherlands",
                "NO": "Norway",
                "NZ": "New Zealand",
                "PT": "Portugal",
                "SE": "Sweden",
                "SG": "Singapore",
                "UA": "Ukraine",
                "UK": "United Kingdom",
                "US": "United States",
                "ZA": "South Africa"
              }
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          },
          {
            "name": "onlyAdultKeywords",
            "in": "query",
            "description": "Only include adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ],
              "default": false
            },
            "example": false
          },
          {
            "name": "excludeHomepageKeywords",
            "in": "query",
            "description": "Exclude keywords that rank on the homepage of the searched domain.",
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ],
              "default": false
            },
            "example": false
          },
          {
            "name": "keywordDifficulty.min",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "keywordDifficulty.max",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.min",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.max",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "CSV of terms that are required to be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Require ANY or ALL terms from the includeTerms parameter to be in the keyword.  ANY = TRUE, ALL = FALSE.  ALL is the default.  ",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "CSV of terms to exclude from any of the keywords.  This is always applied as an ANY.  No keywords with ANY of the terms in the CSV will be returned.  ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved keywords with improved organic rankings. Returns a paginated list of keywords showing ranking gains and search data.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing organic SERP keyword results with comprehensive SEO metrics and pagination metadata.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of organic search keywords with comprehensive SEO metrics including rankings, click estimates, and SERP analysis data.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "The keyword for which this domain ranks organically in the top 100 search results.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ],
                            "readOnly": true
                          },
                          "topRankedUrl": {
                            "description": "The highest ranking URL from this domain for this specific keyword.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "https://example.com/best-running-shoes"
                            ],
                            "readOnly": true
                          },
                          "rank": {
                            "description": "Current organic search position for this keyword (1 = top position).",
                            "type": "integer",
                            "format": "int32",
                            "examples": [
                              7
                            ],
                            "readOnly": true
                          },
                          "rankChange": {
                            "description": "Change in ranking position since the previous measurement period (positive values indicate ranking improvement; negative values indicate moving further down the SERP).",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              -3
                            ],
                            "readOnly": true
                          },
                          "searchVolume": {
                            "description": "Monthly search volume for this keyword based on Google search data across the selected country/region.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              700000
                            ],
                            "readOnly": true
                          },
                          "keywordDifficulty": {
                            "description": "SEO difficulty score (1-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": "integer",
                            "format": "int32",
                            "examples": [
                              69
                            ],
                            "readOnly": true
                          },
                          "broadCostPerClick": {
                            "description": "Average cost per click for broad match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost per click for phrase match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "exactCostPerClick": {
                            "description": "Average cost per click for exact match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "seoClicks": {
                            "description": "Estimated monthly organic clicks this domain receives from this keyword based on current ranking position.",
                            "type": "integer",
                            "format": "int64",
                            "examples": [
                              3000
                            ],
                            "readOnly": true
                          },
                          "seoClicksChange": {
                            "description": "Change in estimated organic clicks compared to the previous measurement period.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              -600
                            ],
                            "readOnly": true
                          },
                          "totalMonthlyClicks": {
                            "description": "Total number of clicks (organic and paid combined) on search results for this keyword in the past month.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              647000
                            ],
                            "readOnly": true
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that come from mobile devices.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.4
                            ],
                            "readOnly": true
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that come from desktop devices.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.6
                            ],
                            "readOnly": true
                          },
                          "percentNotClicked": {
                            "description": "Percentage of searches where users leave the SERP without clicking any result.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.075
                            ],
                            "readOnly": true
                          },
                          "percentPaidClicks": {
                            "description": "Percentage of total SERP clicks that go to paid ads.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.079
                            ],
                            "readOnly": true
                          },
                          "percentOrganicClicks": {
                            "description": "Percentage of total SERP clicks that go to organic search results.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.921
                            ],
                            "readOnly": true
                          },
                          "broadMonthlyCost": {
                            "description": "Estimated monthly advertising cost for broad match bidding on this keyword from the #2 position.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              6043.5
                            ],
                            "readOnly": true
                          },
                          "phraseMonthlyCost": {
                            "description": "Estimated monthly advertising cost for phrase match bidding on this keyword from the #2 position.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              5695.5
                            ],
                            "readOnly": true
                          },
                          "exactMonthlyCost": {
                            "description": "Estimated monthly advertising cost for exact match bidding on this keyword from the #2 position.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              5392.5
                            ],
                            "readOnly": true
                          },
                          "paidCompetitors": {
                            "description": "Total number of advertisers observed purchasing ads for this keyword over the last 14 months.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              0
                            ],
                            "readOnly": true
                          },
                          "rankingHomepages": {
                            "description": "Number of domain homepages (vs. deeper pages) ranking in the top 100 organic results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              10
                            ],
                            "readOnly": true
                          }
                        },
                        "additionalProperties": false,
                        "description": "Represents an organic search keyword with comprehensive SEO metrics including rankings, click estimates, costs, and SERP analysis data."
                      },
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "description": "Total number of organic keywords available that match the query criteria, including results not included in the current page.",
                      "type": "integer",
                      "format": "int64",
                      "examples": [
                        75000
                      ],
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., invalid domain format, pageSize exceeds maximum, or invalid country code)"
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials or insufficient permissions to access SEO keyword data"
          },
          "500": {
            "description": "Internal Server Error - A server-side error occurred while processing the request"
          }
        },
        "tags": [
          "SEO Research API"
        ]
      }
    },
    "/v2/seo/getLostRanksKeywords": {
      "get": {
        "operationId": "OrganicSerpApi_GetLostRanksKeywords_GET",
        "summary": "Get Lost Ranks Keywords",
        "description": "Returns keywords where a domain's organic search ranking positions declined compared to the previous month. This doesn't just work for full domains, it also works for paths, subdomains, individual pages, or specific URLs. This endpoint identifies ranking losses that remain within the top 100 results to reveal content that needs SEO attention.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/seo/keywords/domain?includeAnyTerm=true&includeAnyUrl=true&searchType=lostranks&sidebarContext=filters&query=amazon.com)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Full domain, specific URL, subdomain, path or page to analyze.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri-reference",
              "examples": [
                "example.com",
                "example.com/blog",
                "blog.example.com",
                "www.example.com/any/path/or?page"
              ]
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": "SearchVolume",
              "enum": [
                "SearchVolume",
                "KeywordDifficulty",
                "Rank",
                "RankChange",
                "SeoClicks",
                "SeoClicksChange",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "ExactCostPerClick",
                "PhraseCostPerClick",
                "BroadMonthlyCost",
                "ExactMonthlyCost",
                "PhraseMonthlyCost",
                "TotalMonthlyClicks",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Number of searches done this past month on Google.com (or within selected country). Blended from multiple sources for better snapshot of search activity",
                "KeywordDifficulty": "SEO ranking difficulty score (0-100 scale, higher = more difficult to rank). Based on domain strength, on-page signals like 'keyword in title,' and number of .gov/.edu domains",
                "Rank": "Organic search result position (1 = top organic result)",
                "RankChange": "Change in organic position from previous data update (positive values indicate ranking improvement; negative values indicate moving further down the SERP).",
                "SeoClicks": "Estimated number of organic clicks the domain gets from ranking on this keyword",
                "SeoClicksChange": "Change in estimated organic clicks from previous data update",
                "PercentMobileSearches": "Percentage breakdown of searches from mobile vs desktop devices",
                "PercentDesktopSearches": "Percentage breakdown of searches from desktop vs mobile devices",
                "PercentNotClicked": "Rate that searchers leave the SERP without clicking any result",
                "PercentPaidClicks": "Percentage of SERP clicks that went to paid ads",
                "PercentOrganicClicks": "Percentage of SERP clicks that went to organic results",
                "BroadCostPerClick": "Average amount advertisers pay per click for broad match ads on this keyword",
                "ExactCostPerClick": "Average amount advertisers pay per click for exact match ads on this keyword",
                "PhraseCostPerClick": "Average amount advertisers pay per click for phrase match ads on this keyword",
                "BroadMonthlyCost": "Estimated monthly ad spend for broad match bidding",
                "ExactMonthlyCost": "Estimated monthly ad spend for exact match bidding",
                "PhraseMonthlyCost": "Estimated monthly ad spend for phrase match bidding",
                "TotalMonthlyClicks": "Total estimated clicks made on this SERP to any paid or organic results",
                "PaidCompetitors": "Total number of advertisers seen over the last 6 months for this keyword",
                "RankingHomepages": "Number of homepage URLs (vs deeper paths) ranking within first 100 results"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ]
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google domain version to query against (e.g., google.com for US, google.de for Germany, etc.).",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "x-enumDescriptions": {
                "AR": "Argentina",
                "AU": "Australia",
                "BE": "Belgium",
                "BR": "Brazil",
                "CA": "Canada",
                "CH": "Switzerland",
                "DE": "Germany",
                "DK": "Denmark",
                "ES": "Spain",
                "FR": "France",
                "IE": "Ireland",
                "IN": "India",
                "IT": "Italy",
                "JP": "Japan",
                "MX": "Mexico",
                "NL": "Netherlands",
                "NO": "Norway",
                "NZ": "New Zealand",
                "PT": "Portugal",
                "SE": "Sweden",
                "SG": "Singapore",
                "UA": "Ukraine",
                "UK": "United Kingdom",
                "US": "United States",
                "ZA": "South Africa"
              }
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          },
          {
            "name": "onlyAdultKeywords",
            "in": "query",
            "description": "Only include adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ],
              "default": false
            },
            "example": false
          },
          {
            "name": "excludeHomepageKeywords",
            "in": "query",
            "description": "Exclude keywords that rank on the homepage of the searched domain.",
            "schema": {
              "type": "boolean",
              "examples": [
                false
              ],
              "default": false
            },
            "example": false
          },
          {
            "name": "keywordDifficulty.min",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "keywordDifficulty.max",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.min",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.max",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "CSV of terms that are required to be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Require ANY or ALL terms from the includeTerms parameter to be in the keyword.  ANY = TRUE, ALL = FALSE.  ALL is the default.  ",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "CSV of terms to exclude from any of the keywords.  This is always applied as an ANY.  No keywords with ANY of the terms in the CSV will be returned.  ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved keywords with declined organic rankings. Returns a paginated list of keywords showing ranking losses and search data.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing organic SERP keyword results with comprehensive SEO metrics and pagination metadata.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of organic search keywords with comprehensive SEO metrics including rankings, click estimates, and SERP analysis data.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "The keyword for which this domain ranks organically in the top 100 search results.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ],
                            "readOnly": true
                          },
                          "topRankedUrl": {
                            "description": "The highest ranking URL from this domain for this specific keyword.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "https://example.com/best-running-shoes"
                            ],
                            "readOnly": true
                          },
                          "rank": {
                            "description": "Current organic search position for this keyword (1 = top position).",
                            "type": "integer",
                            "format": "int32",
                            "examples": [
                              7
                            ],
                            "readOnly": true
                          },
                          "rankChange": {
                            "description": "Change in ranking position since the previous measurement period (positive values indicate ranking improvement; negative values indicate moving further down the SERP).",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              -3
                            ],
                            "readOnly": true
                          },
                          "searchVolume": {
                            "description": "Monthly search volume for this keyword based on Google search data across the selected country/region.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              700000
                            ],
                            "readOnly": true
                          },
                          "keywordDifficulty": {
                            "description": "SEO difficulty score (1-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": "integer",
                            "format": "int32",
                            "examples": [
                              69
                            ],
                            "readOnly": true
                          },
                          "broadCostPerClick": {
                            "description": "Average cost per click for broad match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost per click for phrase match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "exactCostPerClick": {
                            "description": "Average cost per click for exact match advertising on this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.28
                            ],
                            "readOnly": true
                          },
                          "seoClicks": {
                            "description": "Estimated monthly organic clicks this domain receives from this keyword based on current ranking position.",
                            "type": "integer",
                            "format": "int64",
                            "examples": [
                              3000
                            ],
                            "readOnly": true
                          },
                          "seoClicksChange": {
                            "description": "Change in estimated organic clicks compared to the previous measurement period.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              -600
                            ],
                            "readOnly": true
                          },
                          "totalMonthlyClicks": {
                            "description": "Total number of clicks (organic and paid combined) on search results for this keyword in the past month.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              647000
                            ],
                            "readOnly": true
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that come from mobile devices.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.4
                            ],
                            "readOnly": true
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that come from desktop devices.",
[...]
