{
  "openapi": "3.1.0",
  "info": {
    "title": "Keyword API",
    "version": "v2",
    "description": "Instantly access comprehensive keyword insights—including live and historical search volume, CPC, keyword difficulty, and mobile vs. desktop usage -- for 30+ countries. Clearly spot hidden keyword opportunities by market.  [SpyFu Developer Portal](https://developer.spyfu.com)."
  },
  "servers": [
    {
      "url": "https://api.spyfu.com/apis/keyword_api"
    }
  ],
  "paths": {
    "/v2/related/getRelatedKeywords": {
      "get": {
        "operationId": "RelatedKeywordsV2Api_GetRelatedKeywords_GET",
        "summary": "Get Related Keywords",
        "description": "Returns thematically related keywords that share similar categories and themes with your seed keyword. This endpoint helps expand your keyword reach with relevant, competitive terms to broaden your content strategy and advertising opportunities.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/keyword/related-keywords?query=running+shoes)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Seed keyword to find thematically related keywords for.",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "running shoes"
              ]
            },
            "example": "running shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Metric to sort results by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": null,
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Monthly search volume",
                "LiveSearchVolume": "Real-time search volume data",
                "RankingDifficulty": "SEO competition difficulty score",
                "TotalMonthlyClicks": "Estimated total monthly clicks",
                "PercentMobileSearches": "Percentage of searches from mobile devices",
                "PercentDesktopSearches": "Percentage of searches from desktop devices",
                "PercentSearchesNotClicked": "Percentage of searches resulting in no clicks",
                "PercentPaidClicks": "Percentage of clicks going to paid results",
                "PercentOrganicClicks": "Percentage of clicks going to organic results",
                "BroadCostPerClick": "Broad match cost per click estimate",
                "PhraseCostPerClick": "Phrase match cost per click estimate",
                "ExactCostPerClick": "Exact match cost per click estimate",
                "BroadMonthlyClicks": "Estimated monthly clicks for broad match",
                "PhraseMonthlyClicks": "Estimated monthly clicks for phrase match",
                "ExactMonthlyClicks": "Estimated monthly clicks for exact match",
                "BroadMonthlyCost": "Estimated monthly cost for broad match",
                "PhraseMonthlyCost": "Estimated monthly cost for phrase match",
                "ExactMonthlyCost": "Estimated monthly cost for exact match",
                "PaidCompetitors": "Number of paid search competitors",
                "RankingHomepages": "Number of homepages ranking organically"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "x-enumDescriptions": {
                "Ascending": "Sort from lowest to highest values",
                "Descending": "Sort from highest to lowest values"
              }
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of rows to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google version to query against (google.de for Germany, etc).  Google.com (US) is the default. [Full list of supported Countries](https://developer.spyfu.com/update/reference/country-code-enum#/)",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ]
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Filter out adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved related keywords. Returns keyword data for thematically similar terms that share categories and themes, perfect for expanding content reach and competitive keyword targeting.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing related keyword research data with comprehensive search metrics and semantic relationships for keyword expansion and content strategy development.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "description": "Total number of related keywords available that match the query criteria, including results not included in the current page.",
                      "type": "integer",
                      "format": "int64",
                      "examples": [
                        85000
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of related keywords with detailed metrics including search volume, semantic relationships, and performance data for keyword discovery and content optimization.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "A semantically related keyword discovered through competitor analysis and keyword relationships, useful for expanding content strategy and keyword targeting.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ]
                          },
                          "searchVolume": {
                            "description": "Estimated monthly search volume for this keyword based on Google search data across the selected country/region, blended from multiple sources for accuracy.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              266000
                            ]
                          },
                          "liveSearchVolume": {
                            "description": "Adjusted search volume based on recent trends and real-time data, providing a more current estimate than historical averages.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              82000
                            ]
                          },
                          "rankingDifficulty": {
                            "description": "SEO difficulty score (0-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              98
                            ]
                          },
                          "totalMonthlyClicks": {
                            "description": "Total estimated monthly clicks (both organic and paid) generated from search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              219000
                            ]
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that originate from mobile devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that originate from desktop devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "percentSearchesNotClicked": {
                            "description": "Percentage of searches where users leave the SERP without clicking any result, often due to sufficient information in featured snippets or direct answers (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.18
                            ]
                          },
                          "percentPaidClicks": {
                            "description": "Percentage of total SERP clicks that go to paid ad results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentOrganicClicks": {
                            "description": "Percentage of total SERP clicks that go to organic search results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "broadCostPerClick": {
                            "description": "Average cost-per-click for broad match keyword targeting, representing what advertisers typically pay when their ads are triggered by related keywords.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.73
                            ]
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost-per-click for phrase match keyword targeting, where ads show for searches that include the keyword phrase in the same order.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.67
                            ]
                          },
                          "exactCostPerClick": {
                            "description": "Average cost-per-click for exact match keyword targeting, the most precise and typically highest-performing match type.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.65
                            ]
                          },
                          "broadMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              57019.8
                            ]
                          },
                          "phraseMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              38000
                            ]
                          },
                          "exactMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              29094.6
                            ]
                          },
                          "broadMonthlyCost": {
                            "description": "Estimated monthly advertising spend for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              41604.9
                            ]
                          },
                          "phraseMonthlyCost": {
                            "description": "Estimated monthly advertising spend for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              25542
                            ]
                          },
                          "exactMonthlyCost": {
                            "description": "Estimated monthly advertising spend for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              19041.6
                            ]
                          },
                          "paidCompetitors": {
                            "description": "Total number of unique advertisers observed purchasing ads for this keyword over the last 14 months, indicating competitive intensity.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              15
                            ]
                          },
                          "distinctCompetitors": {
                            "description": "List of domain names that have purchased ads for this keyword over the last 14 months.",
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "examples": [
                              [
                                "example.com",
                                "competitor1.com",
                                "competitor2.com"
                              ]
                            ]
                          },
                          "rankingHomepages": {
                            "description": "Number of domain homepages (root URLs) ranking within the first 100 organic search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              8
                            ]
                          },
                          "serpFeaturesCsv": {
                            "description": "Comma-separated list of SERP features present for this keyword (e.g., Images, Videos, Maps, Shopping), indicating competition for organic real estate.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "Images,Maps"
                            ]
                          },
                          "serpFirstResult": {
                            "description": "Domain name of the top-ranking organic result for this keyword, useful for identifying category leaders.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "example.com"
                            ]
                          },
                          "isQuestion": {
                            "description": "Indicates whether this keyword is phrased as a question (who, what, when, where, why, how).",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          },
                          "isNotSafeForWork": {
                            "description": "Indicates whether this keyword is flagged as containing adult or inappropriate content.",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "description": "Represents a related keyword with comprehensive performance metrics including search volume, semantic relationships, cost analysis, and SERP characteristics for keyword expansion and content strategy development."
                      },
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., malformed keyword query or invalid country code)"
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials or insufficient permissions to access keyword research data"
          },
          "500": {
            "description": "Internal Server Error - A server-side error occurred while processing the request"
          }
        },
        "tags": [
          "Keyword Research API"
        ]
      }
    },
    "/v2/related/getQuestionKeywords": {
      "get": {
        "operationId": "RelatedKeywordsV2Api_GetQuestionKeywords_GET",
        "summary": "Get Question Keywords",
        "description": "Returns question-based keywords related to your seed topic to inspire content creation and FAQ development. This endpoint identifies what people are asking about your subject matter, revealing content opportunities that answer common user questions and drive organic traffic.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/keyword/related-keywords?query=running+shoes)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Seed keyword to find related question keywords for.",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "running shoes"
              ]
            },
            "example": "running shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Metric to sort results by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": null,
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Monthly search volume",
                "LiveSearchVolume": "Real-time search volume data",
                "RankingDifficulty": "SEO competition difficulty score",
                "TotalMonthlyClicks": "Estimated total monthly clicks",
                "PercentMobileSearches": "Percentage of searches from mobile devices",
                "PercentDesktopSearches": "Percentage of searches from desktop devices",
                "PercentSearchesNotClicked": "Percentage of searches resulting in no clicks",
                "PercentPaidClicks": "Percentage of clicks going to paid results",
                "PercentOrganicClicks": "Percentage of clicks going to organic results",
                "BroadCostPerClick": "Broad match cost per click estimate",
                "PhraseCostPerClick": "Phrase match cost per click estimate",
                "ExactCostPerClick": "Exact match cost per click estimate",
                "BroadMonthlyClicks": "Estimated monthly clicks for broad match",
                "PhraseMonthlyClicks": "Estimated monthly clicks for phrase match",
                "ExactMonthlyClicks": "Estimated monthly clicks for exact match",
                "BroadMonthlyCost": "Estimated monthly cost for broad match",
                "PhraseMonthlyCost": "Estimated monthly cost for phrase match",
                "ExactMonthlyCost": "Estimated monthly cost for exact match",
                "PaidCompetitors": "Number of paid search competitors",
                "RankingHomepages": "Number of homepages ranking organically"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "x-enumDescriptions": {
                "Ascending": "Sort from lowest to highest values",
                "Descending": "Sort from highest to lowest values"
              }
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of rows to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google version to query against (google.de for Germany, etc).  Google.com (US) is the default. [Full list of supported Countries](https://developer.spyfu.com/update/reference/country-code-enum#/)",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ]
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Filter out adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved question keywords. Returns keyword data focused on interrogative phrases and user questions, ideal for content strategy and FAQ development to address common user inquiries.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing related keyword research data with comprehensive search metrics and semantic relationships for keyword expansion and content strategy development.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "description": "Total number of related keywords available that match the query criteria, including results not included in the current page.",
                      "type": "integer",
                      "format": "int64",
                      "examples": [
                        85000
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of related keywords with detailed metrics including search volume, semantic relationships, and performance data for keyword discovery and content optimization.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "A semantically related keyword discovered through competitor analysis and keyword relationships, useful for expanding content strategy and keyword targeting.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ]
                          },
                          "searchVolume": {
                            "description": "Estimated monthly search volume for this keyword based on Google search data across the selected country/region, blended from multiple sources for accuracy.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              266000
                            ]
                          },
                          "liveSearchVolume": {
                            "description": "Adjusted search volume based on recent trends and real-time data, providing a more current estimate than historical averages.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              82000
                            ]
                          },
                          "rankingDifficulty": {
                            "description": "SEO difficulty score (0-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              98
                            ]
                          },
                          "totalMonthlyClicks": {
                            "description": "Total estimated monthly clicks (both organic and paid) generated from search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              219000
                            ]
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that originate from mobile devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that originate from desktop devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "percentSearchesNotClicked": {
                            "description": "Percentage of searches where users leave the SERP without clicking any result, often due to sufficient information in featured snippets or direct answers (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.18
                            ]
                          },
                          "percentPaidClicks": {
                            "description": "Percentage of total SERP clicks that go to paid ad results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentOrganicClicks": {
                            "description": "Percentage of total SERP clicks that go to organic search results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "broadCostPerClick": {
                            "description": "Average cost-per-click for broad match keyword targeting, representing what advertisers typically pay when their ads are triggered by related keywords.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.73
                            ]
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost-per-click for phrase match keyword targeting, where ads show for searches that include the keyword phrase in the same order.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.67
                            ]
                          },
                          "exactCostPerClick": {
                            "description": "Average cost-per-click for exact match keyword targeting, the most precise and typically highest-performing match type.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.65
                            ]
                          },
                          "broadMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              57019.8
                            ]
                          },
                          "phraseMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              38000
                            ]
                          },
                          "exactMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              29094.6
                            ]
                          },
                          "broadMonthlyCost": {
                            "description": "Estimated monthly advertising spend for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              41604.9
                            ]
                          },
                          "phraseMonthlyCost": {
                            "description": "Estimated monthly advertising spend for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              25542
                            ]
                          },
                          "exactMonthlyCost": {
                            "description": "Estimated monthly advertising spend for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              19041.6
                            ]
                          },
                          "paidCompetitors": {
                            "description": "Total number of unique advertisers observed purchasing ads for this keyword over the last 14 months, indicating competitive intensity.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              15
                            ]
                          },
                          "distinctCompetitors": {
                            "description": "List of domain names that have purchased ads for this keyword over the last 14 months.",
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "examples": [
                              [
                                "example.com",
                                "competitor1.com",
                                "competitor2.com"
                              ]
                            ]
                          },
                          "rankingHomepages": {
                            "description": "Number of domain homepages (root URLs) ranking within the first 100 organic search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              8
                            ]
                          },
                          "serpFeaturesCsv": {
                            "description": "Comma-separated list of SERP features present for this keyword (e.g., Images, Videos, Maps, Shopping), indicating competition for organic real estate.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "Images,Maps"
                            ]
                          },
                          "serpFirstResult": {
                            "description": "Domain name of the top-ranking organic result for this keyword, useful for identifying category leaders.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "example.com"
                            ]
                          },
                          "isQuestion": {
                            "description": "Indicates whether this keyword is phrased as a question (who, what, when, where, why, how).",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          },
                          "isNotSafeForWork": {
                            "description": "Indicates whether this keyword is flagged as containing adult or inappropriate content.",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "description": "Represents a related keyword with comprehensive performance metrics including search volume, semantic relationships, cost analysis, and SERP characteristics for keyword expansion and content strategy development."
                      },
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., malformed keyword query or invalid country code)"
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials or insufficient permissions to access keyword research data"
          },
          "500": {
            "description": "Internal Server Error - A server-side error occurred while processing the request"
          }
        },
        "tags": [
          "Keyword Research API"
        ]
      }
    },
    "/v2/related/getAlsoBuysAdsForKeywords": {
      "get": {
        "operationId": "RelatedKeywordsV2Api_GetAlsoBuysAdsForKeywords_GET",
        "summary": "Get Also Buys Ads For Keywords",
        "description": "Returns related keywords that top advertisers also buy when targeting your seed keyword. This endpoint reveals cross-advertising patterns and keyword expansion opportunities by analyzing what other successful campaigns target alongside your keyword.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/keyword/related-keywords?query=running+shoes)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Seed keyword to find related advertising keywords for.",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "running shoes"
              ]
            },
            "example": "running shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Metric to sort results by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": null,
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Monthly search volume",
                "LiveSearchVolume": "Real-time search volume data",
                "RankingDifficulty": "SEO competition difficulty score",
                "TotalMonthlyClicks": "Estimated total monthly clicks",
                "PercentMobileSearches": "Percentage of searches from mobile devices",
                "PercentDesktopSearches": "Percentage of searches from desktop devices",
                "PercentSearchesNotClicked": "Percentage of searches resulting in no clicks",
                "PercentPaidClicks": "Percentage of clicks going to paid results",
                "PercentOrganicClicks": "Percentage of clicks going to organic results",
                "BroadCostPerClick": "Broad match cost per click estimate",
                "PhraseCostPerClick": "Phrase match cost per click estimate",
                "ExactCostPerClick": "Exact match cost per click estimate",
                "BroadMonthlyClicks": "Estimated monthly clicks for broad match",
                "PhraseMonthlyClicks": "Estimated monthly clicks for phrase match",
                "ExactMonthlyClicks": "Estimated monthly clicks for exact match",
                "BroadMonthlyCost": "Estimated monthly cost for broad match",
                "PhraseMonthlyCost": "Estimated monthly cost for phrase match",
                "ExactMonthlyCost": "Estimated monthly cost for exact match",
                "PaidCompetitors": "Number of paid search competitors",
                "RankingHomepages": "Number of homepages ranking organically"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "x-enumDescriptions": {
                "Ascending": "Sort from lowest to highest values",
                "Descending": "Sort from highest to lowest values"
              }
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of rows to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google version to query against (google.de for Germany, etc).  Google.com (US) is the default. [Full list of supported Countries](https://developer.spyfu.com/update/reference/country-code-enum#/)",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ]
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Filter out adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved related advertising keywords. Returns keyword data showing what other successful advertisers also target, revealing cross-campaign patterns and expansion opportunities.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing related keyword research data with comprehensive search metrics and semantic relationships for keyword expansion and content strategy development.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "description": "Total number of related keywords available that match the query criteria, including results not included in the current page.",
                      "type": "integer",
                      "format": "int64",
                      "examples": [
                        85000
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of related keywords with detailed metrics including search volume, semantic relationships, and performance data for keyword discovery and content optimization.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "A semantically related keyword discovered through competitor analysis and keyword relationships, useful for expanding content strategy and keyword targeting.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ]
                          },
                          "searchVolume": {
                            "description": "Estimated monthly search volume for this keyword based on Google search data across the selected country/region, blended from multiple sources for accuracy.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              266000
                            ]
                          },
                          "liveSearchVolume": {
                            "description": "Adjusted search volume based on recent trends and real-time data, providing a more current estimate than historical averages.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              82000
                            ]
                          },
                          "rankingDifficulty": {
                            "description": "SEO difficulty score (0-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              98
                            ]
                          },
                          "totalMonthlyClicks": {
                            "description": "Total estimated monthly clicks (both organic and paid) generated from search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              219000
                            ]
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that originate from mobile devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that originate from desktop devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "percentSearchesNotClicked": {
                            "description": "Percentage of searches where users leave the SERP without clicking any result, often due to sufficient information in featured snippets or direct answers (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.18
                            ]
                          },
                          "percentPaidClicks": {
                            "description": "Percentage of total SERP clicks that go to paid ad results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentOrganicClicks": {
                            "description": "Percentage of total SERP clicks that go to organic search results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "broadCostPerClick": {
                            "description": "Average cost-per-click for broad match keyword targeting, representing what advertisers typically pay when their ads are triggered by related keywords.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.73
                            ]
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost-per-click for phrase match keyword targeting, where ads show for searches that include the keyword phrase in the same order.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.67
                            ]
                          },
                          "exactCostPerClick": {
                            "description": "Average cost-per-click for exact match keyword targeting, the most precise and typically highest-performing match type.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.65
                            ]
                          },
                          "broadMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              57019.8
                            ]
                          },
                          "phraseMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              38000
                            ]
                          },
                          "exactMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              29094.6
                            ]
                          },
                          "broadMonthlyCost": {
                            "description": "Estimated monthly advertising spend for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              41604.9
                            ]
                          },
                          "phraseMonthlyCost": {
                            "description": "Estimated monthly advertising spend for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              25542
                            ]
                          },
                          "exactMonthlyCost": {
                            "description": "Estimated monthly advertising spend for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              19041.6
                            ]
                          },
                          "paidCompetitors": {
                            "description": "Total number of unique advertisers observed purchasing ads for this keyword over the last 14 months, indicating competitive intensity.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              15
                            ]
                          },
                          "distinctCompetitors": {
                            "description": "List of domain names that have purchased ads for this keyword over the last 14 months.",
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "examples": [
                              [
                                "example.com",
                                "competitor1.com",
                                "competitor2.com"
                              ]
                            ]
                          },
                          "rankingHomepages": {
                            "description": "Number of domain homepages (root URLs) ranking within the first 100 organic search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              8
                            ]
                          },
                          "serpFeaturesCsv": {
                            "description": "Comma-separated list of SERP features present for this keyword (e.g., Images, Videos, Maps, Shopping), indicating competition for organic real estate.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "Images,Maps"
                            ]
                          },
                          "serpFirstResult": {
                            "description": "Domain name of the top-ranking organic result for this keyword, useful for identifying category leaders.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "example.com"
                            ]
                          },
                          "isQuestion": {
                            "description": "Indicates whether this keyword is phrased as a question (who, what, when, where, why, how).",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          },
                          "isNotSafeForWork": {
                            "description": "Indicates whether this keyword is flagged as containing adult or inappropriate content.",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "description": "Represents a related keyword with comprehensive performance metrics including search volume, semantic relationships, cost analysis, and SERP characteristics for keyword expansion and content strategy development."
                      },
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., malformed keyword query or invalid country code)"
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials or insufficient permissions to access keyword research data"
          },
          "500": {
            "description": "Internal Server Error - A server-side error occurred while processing the request"
          }
        },
        "tags": [
          "Keyword Research API"
        ]
      }
    },
    "/v2/related/getAlsoRanksForKeywords": {
      "get": {
        "operationId": "RelatedKeywordsV2Api_GetAlsoRanksForKeywords_GET",
        "summary": "Get Also Ranks For Keywords",
        "description": "Returns related keywords that top-ranking domains for your seed keyword also rank for organically. This endpoint reveals SEO content opportunities and keyword expansion ideas by analyzing what successful sites target alongside your keyword.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/keyword/related-keywords?query=running+shoes)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Seed keyword to find related organic ranking keywords for.",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "running shoes"
              ]
            },
            "example": "running shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Metric to sort results by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": null,
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Monthly search volume",
                "LiveSearchVolume": "Real-time search volume data",
                "RankingDifficulty": "SEO competition difficulty score",
                "TotalMonthlyClicks": "Estimated total monthly clicks",
                "PercentMobileSearches": "Percentage of searches from mobile devices",
                "PercentDesktopSearches": "Percentage of searches from desktop devices",
                "PercentSearchesNotClicked": "Percentage of searches resulting in no clicks",
                "PercentPaidClicks": "Percentage of clicks going to paid results",
                "PercentOrganicClicks": "Percentage of clicks going to organic results",
                "BroadCostPerClick": "Broad match cost per click estimate",
                "PhraseCostPerClick": "Phrase match cost per click estimate",
                "ExactCostPerClick": "Exact match cost per click estimate",
                "BroadMonthlyClicks": "Estimated monthly clicks for broad match",
                "PhraseMonthlyClicks": "Estimated monthly clicks for phrase match",
                "ExactMonthlyClicks": "Estimated monthly clicks for exact match",
                "BroadMonthlyCost": "Estimated monthly cost for broad match",
                "PhraseMonthlyCost": "Estimated monthly cost for phrase match",
                "ExactMonthlyCost": "Estimated monthly cost for exact match",
                "PaidCompetitors": "Number of paid search competitors",
                "RankingHomepages": "Number of homepages ranking organically"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "x-enumDescriptions": {
                "Ascending": "Sort from lowest to highest values",
                "Descending": "Sort from highest to lowest values"
              }
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of rows to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google version to query against (google.de for Germany, etc).  Google.com (US) is the default. [Full list of supported Countries](https://developer.spyfu.com/update/reference/country-code-enum#/)",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ]
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Filter out adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved related organic keywords. Returns keyword data showing what top-ranking domains also target, revealing SEO content opportunities and keyword expansion strategies.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing related keyword research data with comprehensive search metrics and semantic relationships for keyword expansion and content strategy development.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "description": "Total number of related keywords available that match the query criteria, including results not included in the current page.",
                      "type": "integer",
                      "format": "int64",
                      "examples": [
                        85000
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of related keywords with detailed metrics including search volume, semantic relationships, and performance data for keyword discovery and content optimization.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "A semantically related keyword discovered through competitor analysis and keyword relationships, useful for expanding content strategy and keyword targeting.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ]
                          },
                          "searchVolume": {
                            "description": "Estimated monthly search volume for this keyword based on Google search data across the selected country/region, blended from multiple sources for accuracy.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              266000
                            ]
                          },
                          "liveSearchVolume": {
                            "description": "Adjusted search volume based on recent trends and real-time data, providing a more current estimate than historical averages.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              82000
                            ]
                          },
                          "rankingDifficulty": {
                            "description": "SEO difficulty score (0-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              98
                            ]
                          },
                          "totalMonthlyClicks": {
                            "description": "Total estimated monthly clicks (both organic and paid) generated from search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              219000
                            ]
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that originate from mobile devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that originate from desktop devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "percentSearchesNotClicked": {
                            "description": "Percentage of searches where users leave the SERP without clicking any result, often due to sufficient information in featured snippets or direct answers (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.18
                            ]
                          },
                          "percentPaidClicks": {
                            "description": "Percentage of total SERP clicks that go to paid ad results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentOrganicClicks": {
                            "description": "Percentage of total SERP clicks that go to organic search results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "broadCostPerClick": {
                            "description": "Average cost-per-click for broad match keyword targeting, representing what advertisers typically pay when their ads are triggered by related keywords.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.73
                            ]
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost-per-click for phrase match keyword targeting, where ads show for searches that include the keyword phrase in the same order.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.67
                            ]
                          },
                          "exactCostPerClick": {
                            "description": "Average cost-per-click for exact match keyword targeting, the most precise and typically highest-performing match type.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.65
                            ]
                          },
                          "broadMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              57019.8
                            ]
                          },
                          "phraseMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              38000
                            ]
                          },
                          "exactMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              29094.6
                            ]
                          },
                          "broadMonthlyCost": {
                            "description": "Estimated monthly advertising spend for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              41604.9
                            ]
                          },
                          "phraseMonthlyCost": {
                            "description": "Estimated monthly advertising spend for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              25542
                            ]
                          },
                          "exactMonthlyCost": {
                            "description": "Estimated monthly advertising spend for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              19041.6
                            ]
                          },
                          "paidCompetitors": {
                            "description": "Total number of unique advertisers observed purchasing ads for this keyword over the last 14 months, indicating competitive intensity.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              15
                            ]
                          },
                          "distinctCompetitors": {
                            "description": "List of domain names that have purchased ads for this keyword over the last 14 months.",
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "examples": [
                              [
                                "example.com",
                                "competitor1.com",
                                "competitor2.com"
                              ]
                            ]
                          },
                          "rankingHomepages": {
                            "description": "Number of domain homepages (root URLs) ranking within the first 100 organic search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              8
                            ]
                          },
                          "serpFeaturesCsv": {
                            "description": "Comma-separated list of SERP features present for this keyword (e.g., Images, Videos, Maps, Shopping), indicating competition for organic real estate.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "Images,Maps"
                            ]
                          },
                          "serpFirstResult": {
                            "description": "Domain name of the top-ranking organic result for this keyword, useful for identifying category leaders.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "example.com"
                            ]
                          },
                          "isQuestion": {
                            "description": "Indicates whether this keyword is phrased as a question (who, what, when, where, why, how).",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          },
                          "isNotSafeForWork": {
                            "description": "Indicates whether this keyword is flagged as containing adult or inappropriate content.",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "description": "Represents a related keyword with comprehensive performance metrics including search volume, semantic relationships, cost analysis, and SERP characteristics for keyword expansion and content strategy development."
                      },
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., malformed keyword query or invalid country code)"
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials or insufficient permissions to access keyword research data"
          },
          "500": {
            "description": "Internal Server Error - A server-side error occurred while processing the request"
          }
        },
        "tags": [
          "Keyword Research API"
        ]
      }
    },
    "/v2/related/getTransactionKeywords": {
      "get": {
        "operationId": "RelatedKeywordsV2Api_GetTransactionKeywords_GET",
        "summary": "Get Transactional Keywords",
        "description": "Returns high-intent keywords with strong buying signals related to your seed topic. This endpoint identifies commercial keywords that indicate users are ready to purchase, perfect for targeting conversion-focused campaigns and capturing bottom-funnel traffic.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/keyword/related-keywords?query=running+shoes)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Seed keyword to find related transactional keywords for.",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "running shoes"
              ]
            },
            "example": "running shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Metric to sort results by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": null,
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Monthly search volume",
                "LiveSearchVolume": "Real-time search volume data",
                "RankingDifficulty": "SEO competition difficulty score",
                "TotalMonthlyClicks": "Estimated total monthly clicks",
                "PercentMobileSearches": "Percentage of searches from mobile devices",
                "PercentDesktopSearches": "Percentage of searches from desktop devices",
                "PercentSearchesNotClicked": "Percentage of searches resulting in no clicks",
                "PercentPaidClicks": "Percentage of clicks going to paid results",
                "PercentOrganicClicks": "Percentage of clicks going to organic results",
                "BroadCostPerClick": "Broad match cost per click estimate",
                "PhraseCostPerClick": "Phrase match cost per click estimate",
                "ExactCostPerClick": "Exact match cost per click estimate",
                "BroadMonthlyClicks": "Estimated monthly clicks for broad match",
                "PhraseMonthlyClicks": "Estimated monthly clicks for phrase match",
                "ExactMonthlyClicks": "Estimated monthly clicks for exact match",
                "BroadMonthlyCost": "Estimated monthly cost for broad match",
                "PhraseMonthlyCost": "Estimated monthly cost for phrase match",
                "ExactMonthlyCost": "Estimated monthly cost for exact match",
                "PaidCompetitors": "Number of paid search competitors",
                "RankingHomepages": "Number of homepages ranking organically"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "x-enumDescriptions": {
                "Ascending": "Sort from lowest to highest values",
                "Descending": "Sort from highest to lowest values"
              }
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of rows to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
[...]
