{
  "openapi": "3.1.0",
  "info": {
    "title": "PPC Research API",
    "version": "v2",
    "description": "Discover precisely which keywords any competitor targets in paid search. Clearly understand their real business focus and profit model, regardless of website messaging."
  },
  "servers": [
    {
      "url": "https://api.spyfu.com/apis/keyword_api"
    }
  ],
  "paths": {
    "/v2/ppc/getMostSuccessful": {
      "get": {
        "operationId": "PaidSerpApi_GetMostSuccessful_GET",
        "summary": "Get Most Successful PPC Keywords",
        "description": "Returns the most successful paid search keywords for a domain based on search volume and competitive strength. This endpoint provides the highest-performing PPC keywords from the past year to identify proven ad opportunities and optimize keyword strategy.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/ppc/keywords?query=amazon.com)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain or URL to analyze for successful PPC keywords.",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "example.com"
              ]
            },
            "example": "example.com"
          },
          {
            "name": "excludeDomain",
            "in": "query",
            "description": "Domain to exclude from keyword results.",
            "schema": {
              "type": "string",
              "examples": [
                "example.org"
              ]
            },
            "example": "example.org"
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "Comma-separated terms that must be present in keyword results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Match logic for includeTerms: true for ANY term match, false for ALL terms required.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "Comma-separated terms that must not be present in keyword results.",
            "schema": {
              "type": "string",
              "examples": [
                "competitor"
              ]
            },
            "example": "competitor"
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Minimum monthly search volume filter for Google.com.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Maximum monthly search volume filter for Google.com.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Metric to sort results by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": "SearchVolume",
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Monthly search volume",
                "LiveSearchVolume": "Real-time search volume data",
                "RankingDifficulty": "SEO competition difficulty score",
                "TotalMonthlyClicks": "Estimated total monthly clicks",
                "PercentMobileSearches": "Percentage of searches from mobile devices",
                "PercentDesktopSearches": "Percentage of searches from desktop devices",
                "PercentSearchesNotClicked": "Percentage of searches resulting in no clicks",
                "PercentPaidClicks": "Percentage of clicks going to paid results",
                "PercentOrganicClicks": "Percentage of clicks going to organic results",
                "BroadCostPerClick": "Broad match cost per click estimate",
                "PhraseCostPerClick": "Phrase match cost per click estimate",
                "ExactCostPerClick": "Exact match cost per click estimate",
                "BroadMonthlyClicks": "Estimated monthly clicks for broad match",
                "PhraseMonthlyClicks": "Estimated monthly clicks for phrase match",
                "ExactMonthlyClicks": "Estimated monthly clicks for exact match",
                "BroadMonthlyCost": "Estimated monthly cost for broad match",
                "PhraseMonthlyCost": "Estimated monthly cost for phrase match",
                "ExactMonthlyCost": "Estimated monthly cost for exact match",
                "PaidCompetitors": "Number of paid search competitors",
                "RankingHomepages": "Number of homepages ranking organically"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "x-enumDescriptions": {
                "Ascending": "Sort from lowest to highest values",
                "Descending": "Sort from highest to lowest values"
              }
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of rows to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google domain version to query against (e.g., google.com for US, google.de for Germany, etc.).",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "x-enumDescriptions": {
                "AR": "Argentina",
                "AU": "Australia",
                "BE": "Belgium",
                "BR": "Brazil",
                "CA": "Canada",
                "CH": "Switzerland",
                "DE": "Germany",
                "DK": "Denmark",
                "ES": "Spain",
                "FR": "France",
                "IE": "Ireland",
                "IN": "India",
                "IT": "Italy",
                "JP": "Japan",
                "MX": "Mexico",
                "NL": "Netherlands",
                "NO": "Norway",
                "NZ": "New Zealand",
                "PT": "Portugal",
                "SE": "Sweden",
                "SG": "Singapore",
                "UA": "Ukraine",
                "UK": "United Kingdom",
                "US": "United States",
                "ZA": "South Africa"
              }
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Filter out adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved most successful PPC keywords. Returns keyword data with search metrics, cost estimates, and competitive intelligence showing the domain's highest-performing paid keywords.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing PPC keyword research data with detailed advertising performance metrics and pagination metadata for keyword discovery and optimization.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "description": "Total number of PPC keywords available that match the query criteria, including results not included in the current page.",
                      "type": "integer",
                      "format": "int64",
                      "examples": [
                        75000
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of PPC keywords with comprehensive advertising performance metrics including search volume, cost data, and competitive intelligence insights.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "The keyword that shows high performance or profitability for successful competitors in paid search ad.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ]
                          },
                          "searchVolume": {
                            "description": "Estimated monthly search volume for this keyword based on Google search data across the selected country/region, blended from multiple sources for accuracy.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              266000
                            ]
                          },
                          "liveSearchVolume": {
                            "description": "Adjusted search volume based on recent trends and real-time data, providing a more current estimate than historical averages.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              82000
                            ]
                          },
                          "rankingDifficulty": {
                            "description": "SEO difficulty score (0-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              98
                            ]
                          },
                          "totalMonthlyClicks": {
                            "description": "Total estimated monthly clicks (both organic and paid) generated from search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              219000
                            ]
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that originate from mobile devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that originate from desktop devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "percentSearchesNotClicked": {
                            "description": "Percentage of searches where users leave the SERP without clicking any result, often due to sufficient information in featured snippets or direct answers (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.18
                            ]
                          },
                          "percentPaidClicks": {
                            "description": "Percentage of total SERP clicks that go to paid ad results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentOrganicClicks": {
                            "description": "Percentage of total SERP clicks that go to organic search results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "broadCostPerClick": {
                            "description": "Average cost-per-click for broad match keyword targeting, representing what advertisers typically pay when their ads are triggered by related keywords.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.73
                            ]
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost-per-click for phrase match keyword targeting, where ads show for searches that include the keyword phrase in the same order.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.67
                            ]
                          },
                          "exactCostPerClick": {
                            "description": "Average cost-per-click for exact match keyword targeting, the most precise and typically highest-performing match type.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.65
                            ]
                          },
                          "broadMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              57019.8
                            ]
                          },
                          "phraseMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              38000
                            ]
                          },
                          "exactMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              29094.6
                            ]
                          },
                          "broadMonthlyCost": {
                            "description": "Estimated monthly ad spend for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              41604.9
                            ]
                          },
                          "phraseMonthlyCost": {
                            "description": "Estimated monthly ad spend for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              25542
                            ]
                          },
                          "exactMonthlyCost": {
                            "description": "Estimated monthly ad spend for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              19041.6
                            ]
                          },
                          "paidCompetitors": {
                            "description": "Total number of unique advertisers observed purchasing ads for this keyword over the last 14 months, indicating competitive intensity.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              15
                            ]
                          },
                          "distinctCompetitors": {
                            "description": "List of domain names that have purchased ads for this keyword over the last 14 months.",
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "examples": [
                              [
                                "example.com",
                                "competitor1.com",
                                "competitor2.com"
                              ]
                            ]
                          },
                          "rankingHomepages": {
                            "description": "Number of domain homepages (root URLs) ranking within the first 100 organic search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              8
                            ]
                          },
                          "serpFeaturesCsv": {
                            "description": "Comma-separated list of SERP features present for this keyword (e.g., Images, Videos, Maps, Shopping), indicating competition for organic real estate.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "Images,Maps"
                            ]
                          },
                          "serpFirstResult": {
                            "description": "Domain name of the top-ranking organic result for this keyword, useful for identifying category leaders.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "example.com"
                            ]
                          },
                          "isQuestion": {
                            "description": "Indicates whether this keyword is phrased as a question (who, what, when, where, why, how).",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          },
                          "isNotSafeForWork": {
                            "description": "Indicates whether this keyword is flagged as containing adult or inappropriate content.",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "description": "Represents a PPC keyword with comprehensive advertising performance metrics including search volume, cost analysis, competitive intelligence, and SERP characteristics for paid search campaign optimization."
                      },
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., invalid domain format, search volume ranges, or invalid country code)"
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials or insufficient permissions to access PPC keyword data"
          },
          "500": {
            "description": "Internal Server Error - A server-side error occurred while processing the request"
          }
        },
        "tags": [
          "PPC Research API"
        ]
      }
    },
    "/v2/ppc/getNewKeywords": {
      "get": {
        "operationId": "PaidSerpApi_GetNewKeywords_GET",
        "summary": "Get New PPC Keywords",
        "description": "Returns newly acquired paid search keywords that a domain has started advertising on for the first time. This endpoint identifies recent keyword expansions and emerging advertising strategies to reveal new market opportunities and competitive moves.\n\n[Visualize this API live on SpyFu](https://www.spyfu.com/ppc/keywords?query=amazon.com)",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain or URL to analyze for new PPC keywords.",
            "required": true,
            "schema": {
              "type": "string",
              "examples": [
                "example.com"
              ]
            },
            "example": "example.com"
          },
          {
            "name": "excludeDomain",
            "in": "query",
            "description": "Domain to exclude from keyword results.",
            "schema": {
              "type": "string",
              "examples": [
                "example.org"
              ]
            },
            "example": "example.org"
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "Comma-separated terms that must be present in keyword results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Match logic for includeTerms: true for ANY term match, false for ALL terms required.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "Comma-separated terms that must not be present in keyword results.",
            "schema": {
              "type": "string",
              "examples": [
                "competitor"
              ]
            },
            "example": "competitor"
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Minimum monthly search volume filter for Google.com.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Maximum monthly search volume filter for Google.com.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Metric to sort results by.",
            "schema": {
              "type": "string",
              "examples": [
                "SearchVolume"
              ],
              "default": "SearchVolume",
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "x-enumDescriptions": {
                "SearchVolume": "Monthly search volume",
                "LiveSearchVolume": "Real-time search volume data",
                "RankingDifficulty": "SEO competition difficulty score",
                "TotalMonthlyClicks": "Estimated total monthly clicks",
                "PercentMobileSearches": "Percentage of searches from mobile devices",
                "PercentDesktopSearches": "Percentage of searches from desktop devices",
                "PercentSearchesNotClicked": "Percentage of searches resulting in no clicks",
                "PercentPaidClicks": "Percentage of clicks going to paid results",
                "PercentOrganicClicks": "Percentage of clicks going to organic results",
                "BroadCostPerClick": "Broad match cost per click estimate",
                "PhraseCostPerClick": "Phrase match cost per click estimate",
                "ExactCostPerClick": "Exact match cost per click estimate",
                "BroadMonthlyClicks": "Estimated monthly clicks for broad match",
                "PhraseMonthlyClicks": "Estimated monthly clicks for phrase match",
                "ExactMonthlyClicks": "Estimated monthly clicks for exact match",
                "BroadMonthlyCost": "Estimated monthly cost for broad match",
                "PhraseMonthlyCost": "Estimated monthly cost for phrase match",
                "ExactMonthlyCost": "Estimated monthly cost for exact match",
                "PaidCompetitors": "Number of paid search competitors",
                "RankingHomepages": "Number of homepages ranking organically"
              }
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction for results.",
            "schema": {
              "type": "string",
              "examples": [
                "Descending"
              ],
              "default": "Descending",
              "enum": [
                "Ascending",
                "Descending"
              ],
              "x-enumDescriptions": {
                "Ascending": "Sort from lowest to highest values",
                "Descending": "Sort from highest to lowest values"
              }
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                1
              ],
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of rows to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "examples": [
                5
              ],
              "default": 5,
              "maximum": 10000,
              "minimum": 1
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country market to search.  Specifically, this maps to the Google domain version to query against (e.g., google.com for US, google.de for Germany, etc.).",
            "schema": {
              "type": "string",
              "examples": [
                "US"
              ],
              "default": "US",
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "x-enumDescriptions": {
                "AR": "Argentina",
                "AU": "Australia",
                "BE": "Belgium",
                "BR": "Brazil",
                "CA": "Canada",
                "CH": "Switzerland",
                "DE": "Germany",
                "DK": "Denmark",
                "ES": "Spain",
                "FR": "France",
                "IE": "Ireland",
                "IN": "India",
                "IT": "Italy",
                "JP": "Japan",
                "MX": "Mexico",
                "NL": "Netherlands",
                "NO": "Norway",
                "NZ": "New Zealand",
                "PT": "Portugal",
                "SE": "Sweden",
                "SG": "Singapore",
                "UA": "Ukraine",
                "UK": "United Kingdom",
                "US": "United States",
                "ZA": "South Africa"
              }
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Filter out adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "examples": [
                true
              ],
              "default": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved new PPC keywords. Returns keyword data with search metrics, cost estimates, and competitive intelligence showing recently acquired paid keywords for strategic expansion insights.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Response wrapper containing PPC keyword research data with detailed advertising performance metrics and pagination metadata for keyword discovery and optimization.",
                  "type": "object",
                  "properties": {
                    "resultCount": {
                      "description": "Number of results returned",
                      "type": "integer",
                      "format": "int32",
                      "examples": [
                        100
                      ],
                      "readOnly": true
                    },
                    "totalMatchingResults": {
                      "description": "Total number of PPC keywords available that match the query criteria, including results not included in the current page.",
                      "type": "integer",
                      "format": "int64",
                      "examples": [
                        75000
                      ],
                      "readOnly": true
                    },
                    "results": {
                      "description": "Array of PPC keywords with comprehensive advertising performance metrics including search volume, cost data, and competitive intelligence insights.",
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyword": {
                            "description": "The keyword that shows high performance or profitability for successful competitors in paid search ad.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "running shoes"
                            ]
                          },
                          "searchVolume": {
                            "description": "Estimated monthly search volume for this keyword based on Google search data across the selected country/region, blended from multiple sources for accuracy.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              266000
                            ]
                          },
                          "liveSearchVolume": {
                            "description": "Adjusted search volume based on recent trends and real-time data, providing a more current estimate than historical averages.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              82000
                            ]
                          },
                          "rankingDifficulty": {
                            "description": "SEO difficulty score (0-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              98
                            ]
                          },
                          "totalMonthlyClicks": {
                            "description": "Total estimated monthly clicks (both organic and paid) generated from search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "examples": [
                              219000
                            ]
                          },
                          "percentMobileSearches": {
                            "description": "Percentage of searches for this keyword that originate from mobile devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentDesktopSearches": {
                            "description": "Percentage of searches for this keyword that originate from desktop devices (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "percentSearchesNotClicked": {
                            "description": "Percentage of searches where users leave the SERP without clicking any result, often due to sufficient information in featured snippets or direct answers (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.18
                            ]
                          },
                          "percentPaidClicks": {
                            "description": "Percentage of total SERP clicks that go to paid ad results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.52
                            ]
                          },
                          "percentOrganicClicks": {
                            "description": "Percentage of total SERP clicks that go to organic search results (0.0-1.0).",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.48
                            ]
                          },
                          "broadCostPerClick": {
                            "description": "Average cost-per-click for broad match keyword targeting, representing what advertisers typically pay when their ads are triggered by related keywords.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.73
                            ]
                          },
                          "phraseCostPerClick": {
                            "description": "Average cost-per-click for phrase match keyword targeting, where ads show for searches that include the keyword phrase in the same order.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.67
                            ]
                          },
                          "exactCostPerClick": {
                            "description": "Average cost-per-click for exact match keyword targeting, the most precise and typically highest-performing match type.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              0.65
                            ]
                          },
                          "broadMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              57019.8
                            ]
                          },
                          "phraseMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              38000
                            ]
                          },
                          "exactMonthlyClicks": {
                            "description": "Estimated monthly paid clicks for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "float",
                            "examples": [
                              29094.6
                            ]
                          },
                          "broadMonthlyCost": {
                            "description": "Estimated monthly ad spend for broad match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              41604.9
                            ]
                          },
                          "phraseMonthlyCost": {
                            "description": "Estimated monthly ad spend for phrase match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              25542
                            ]
                          },
                          "exactMonthlyCost": {
                            "description": "Estimated monthly ad spend for exact match targeting of this keyword.",
                            "type": [
                              "number",
                              "null"
                            ],
                            "format": "double",
                            "examples": [
                              19041.6
                            ]
                          },
                          "paidCompetitors": {
                            "description": "Total number of unique advertisers observed purchasing ads for this keyword over the last 14 months, indicating competitive intensity.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              15
                            ]
                          },
                          "distinctCompetitors": {
                            "description": "List of domain names that have purchased ads for this keyword over the last 14 months.",
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "examples": [
                              [
                                "example.com",
                                "competitor1.com",
                                "competitor2.com"
                              ]
                            ]
                          },
                          "rankingHomepages": {
                            "description": "Number of domain homepages (root URLs) ranking within the first 100 organic search results for this keyword.",
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32",
                            "examples": [
                              8
                            ]
                          },
                          "serpFeaturesCsv": {
                            "description": "Comma-separated list of SERP features present for this keyword (e.g., Images, Videos, Maps, Shopping), indicating competition for organic real estate.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "Images,Maps"
                            ]
                          },
                          "serpFirstResult": {
                            "description": "Domain name of the top-ranking organic result for this keyword, useful for identifying category leaders.",
                            "type": [
                              "string",
                              "null"
                            ],
                            "examples": [
                              "example.com"
                            ]
                          },
                          "isQuestion": {
                            "description": "Indicates whether this keyword is phrased as a question (who, what, when, where, why, how).",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          },
                          "isNotSafeForWork": {
                            "description": "Indicates whether this keyword is flagged as containing adult or inappropriate content.",
                            "type": "boolean",
                            "examples": [
                              false
                            ]
                          }
                        },
                        "additionalProperties": false,
                        "description": "Represents a PPC keyword with comprehensive advertising performance metrics including search volume, cost analysis, competitive intelligence, and SERP characteristics for paid search campaign optimization."
                      },
                      "readOnly": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., invalid domain format, search volume ranges, or invalid country code)"
          },
          "401": {
            "description": "Unauthorized - Invalid API credentials or insufficient permissions to access PPC keyword data"
          },
          "500": {
            "description": "Internal Server Error - A server-side error occurred while processing the request"
          }
        },
        "tags": [
          "PPC Research API"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PublicApiKeywordOverviewOutputDto": {
        "description": "Response wrapper containing PPC keyword research data with detailed advertising performance metrics and pagination metadata for keyword discovery and optimization.",
        "type": "object",
        "properties": {
          "resultCount": {
            "description": "Number of results returned",
            "type": "integer",
            "format": "int32",
            "examples": [
              100
            ],
            "readOnly": true
          },
          "totalMatchingResults": {
            "description": "Total number of PPC keywords available that match the query criteria, including results not included in the current page.",
            "type": "integer",
            "format": "int64",
            "examples": [
              75000
            ],
            "readOnly": true
          },
          "results": {
            "description": "Array of PPC keywords with comprehensive advertising performance metrics including search volume, cost data, and competitive intelligence insights.",
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "keyword": {
                  "description": "The keyword that shows high performance or profitability for successful competitors in paid search ad.",
                  "type": [
                    "string",
                    "null"
                  ],
                  "examples": [
                    "running shoes"
                  ]
                },
                "searchVolume": {
                  "description": "Estimated monthly search volume for this keyword based on Google search data across the selected country/region, blended from multiple sources for accuracy.",
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int64",
                  "examples": [
                    266000
                  ]
                },
                "liveSearchVolume": {
                  "description": "Adjusted search volume based on recent trends and real-time data, providing a more current estimate than historical averages.",
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int64",
                  "examples": [
                    82000
                  ]
                },
                "rankingDifficulty": {
                  "description": "SEO difficulty score (0-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int32",
                  "examples": [
                    98
                  ]
                },
                "totalMonthlyClicks": {
                  "description": "Total estimated monthly clicks (both organic and paid) generated from search results for this keyword.",
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int64",
                  "examples": [
                    219000
                  ]
                },
                "percentMobileSearches": {
                  "description": "Percentage of searches for this keyword that originate from mobile devices (0.0-1.0).",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    0.52
                  ]
                },
                "percentDesktopSearches": {
                  "description": "Percentage of searches for this keyword that originate from desktop devices (0.0-1.0).",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    0.48
                  ]
                },
                "percentSearchesNotClicked": {
                  "description": "Percentage of searches where users leave the SERP without clicking any result, often due to sufficient information in featured snippets or direct answers (0.0-1.0).",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    0.18
                  ]
                },
                "percentPaidClicks": {
                  "description": "Percentage of total SERP clicks that go to paid ad results (0.0-1.0).",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    0.52
                  ]
                },
                "percentOrganicClicks": {
                  "description": "Percentage of total SERP clicks that go to organic search results (0.0-1.0).",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    0.48
                  ]
                },
                "broadCostPerClick": {
                  "description": "Average cost-per-click for broad match keyword targeting, representing what advertisers typically pay when their ads are triggered by related keywords.",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    0.73
                  ]
                },
                "phraseCostPerClick": {
                  "description": "Average cost-per-click for phrase match keyword targeting, where ads show for searches that include the keyword phrase in the same order.",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    0.67
                  ]
                },
                "exactCostPerClick": {
                  "description": "Average cost-per-click for exact match keyword targeting, the most precise and typically highest-performing match type.",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    0.65
                  ]
                },
                "broadMonthlyClicks": {
                  "description": "Estimated monthly paid clicks for broad match targeting of this keyword.",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "float",
                  "examples": [
                    57019.8
                  ]
                },
                "phraseMonthlyClicks": {
                  "description": "Estimated monthly paid clicks for phrase match targeting of this keyword.",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "float",
                  "examples": [
                    38000
                  ]
                },
                "exactMonthlyClicks": {
                  "description": "Estimated monthly paid clicks for exact match targeting of this keyword.",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "float",
                  "examples": [
                    29094.6
                  ]
                },
                "broadMonthlyCost": {
                  "description": "Estimated monthly ad spend for broad match targeting of this keyword.",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    41604.9
                  ]
                },
                "phraseMonthlyCost": {
                  "description": "Estimated monthly ad spend for phrase match targeting of this keyword.",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    25542
                  ]
                },
                "exactMonthlyCost": {
                  "description": "Estimated monthly ad spend for exact match targeting of this keyword.",
                  "type": [
                    "number",
                    "null"
                  ],
                  "format": "double",
                  "examples": [
                    19041.6
                  ]
                },
                "paidCompetitors": {
                  "description": "Total number of unique advertisers observed purchasing ads for this keyword over the last 14 months, indicating competitive intensity.",
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int32",
                  "examples": [
                    15
                  ]
                },
                "distinctCompetitors": {
                  "description": "List of domain names that have purchased ads for this keyword over the last 14 months.",
                  "type": [
                    "array",
                    "null"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "examples": [
                    [
                      "example.com",
                      "competitor1.com",
                      "competitor2.com"
                    ]
                  ]
                },
                "rankingHomepages": {
                  "description": "Number of domain homepages (root URLs) ranking within the first 100 organic search results for this keyword.",
                  "type": [
                    "integer",
                    "null"
                  ],
                  "format": "int32",
                  "examples": [
                    8
                  ]
                },
                "serpFeaturesCsv": {
                  "description": "Comma-separated list of SERP features present for this keyword (e.g., Images, Videos, Maps, Shopping), indicating competition for organic real estate.",
                  "type": [
                    "string",
                    "null"
                  ],
                  "examples": [
                    "Images,Maps"
                  ]
                },
                "serpFirstResult": {
                  "description": "Domain name of the top-ranking organic result for this keyword, useful for identifying category leaders.",
                  "type": [
                    "string",
                    "null"
                  ],
                  "examples": [
                    "example.com"
                  ]
                },
                "isQuestion": {
                  "description": "Indicates whether this keyword is phrased as a question (who, what, when, where, why, how).",
                  "type": "boolean",
                  "examples": [
                    false
                  ]
                },
                "isNotSafeForWork": {
                  "description": "Indicates whether this keyword is flagged as containing adult or inappropriate content.",
                  "type": "boolean",
                  "examples": [
                    false
                  ]
                }
              },
              "additionalProperties": false,
              "description": "Represents a PPC keyword with comprehensive advertising performance metrics including search volume, cost analysis, competitive intelligence, and SERP characteristics for paid search campaign optimization."
            },
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "PublicApiKeywordOverviewOutputItemDto": {
        "description": "Represents a PPC keyword with comprehensive advertising performance metrics including search volume, cost analysis, competitive intelligence, and SERP characteristics for paid search campaign optimization.",
        "type": "object",
        "properties": {
          "keyword": {
            "description": "The keyword that shows high performance or profitability for successful competitors in paid search ad.",
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "running shoes"
            ]
          },
          "searchVolume": {
            "description": "Estimated monthly search volume for this keyword based on Google search data across the selected country/region, blended from multiple sources for accuracy.",
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "examples": [
              266000
            ]
          },
          "liveSearchVolume": {
            "description": "Adjusted search volume based on recent trends and real-time data, providing a more current estimate than historical averages.",
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "examples": [
              82000
            ]
          },
          "rankingDifficulty": {
            "description": "SEO difficulty score (0-100) indicating how challenging it would be to rank organically for this keyword, with 100 being most difficult.",
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "examples": [
              98
            ]
          },
          "totalMonthlyClicks": {
            "description": "Total estimated monthly clicks (both organic and paid) generated from search results for this keyword.",
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "examples": [
              219000
            ]
          },
          "percentMobileSearches": {
            "description": "Percentage of searches for this keyword that originate from mobile devices (0.0-1.0).",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              0.52
            ]
          },
          "percentDesktopSearches": {
            "description": "Percentage of searches for this keyword that originate from desktop devices (0.0-1.0).",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              0.48
            ]
          },
          "percentSearchesNotClicked": {
            "description": "Percentage of searches where users leave the SERP without clicking any result, often due to sufficient information in featured snippets or direct answers (0.0-1.0).",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              0.18
            ]
          },
          "percentPaidClicks": {
            "description": "Percentage of total SERP clicks that go to paid ad results (0.0-1.0).",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              0.52
            ]
          },
          "percentOrganicClicks": {
            "description": "Percentage of total SERP clicks that go to organic search results (0.0-1.0).",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              0.48
            ]
          },
          "broadCostPerClick": {
            "description": "Average cost-per-click for broad match keyword targeting, representing what advertisers typically pay when their ads are triggered by related keywords.",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              0.73
            ]
          },
          "phraseCostPerClick": {
            "description": "Average cost-per-click for phrase match keyword targeting, where ads show for searches that include the keyword phrase in the same order.",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              0.67
            ]
          },
          "exactCostPerClick": {
            "description": "Average cost-per-click for exact match keyword targeting, the most precise and typically highest-performing match type.",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              0.65
            ]
          },
          "broadMonthlyClicks": {
            "description": "Estimated monthly paid clicks for broad match targeting of this keyword.",
            "type": [
              "number",
              "null"
            ],
            "format": "float",
            "examples": [
              57019.8
            ]
          },
          "phraseMonthlyClicks": {
            "description": "Estimated monthly paid clicks for phrase match targeting of this keyword.",
            "type": [
              "number",
              "null"
            ],
            "format": "float",
            "examples": [
              38000
            ]
          },
          "exactMonthlyClicks": {
            "description": "Estimated monthly paid clicks for exact match targeting of this keyword.",
            "type": [
              "number",
              "null"
            ],
            "format": "float",
            "examples": [
              29094.6
            ]
          },
          "broadMonthlyCost": {
            "description": "Estimated monthly ad spend for broad match targeting of this keyword.",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              41604.9
            ]
          },
          "phraseMonthlyCost": {
            "description": "Estimated monthly ad spend for phrase match targeting of this keyword.",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              25542
            ]
          },
          "exactMonthlyCost": {
            "description": "Estimated monthly ad spend for exact match targeting of this keyword.",
            "type": [
              "number",
              "null"
            ],
            "format": "double",
            "examples": [
              19041.6
            ]
          },
          "paidCompetitors": {
            "description": "Total number of unique advertisers observed purchasing ads for this keyword over the last 14 months, indicating competitive intensity.",
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "examples": [
              15
            ]
          },
          "distinctCompetitors": {
            "description": "List of domain names that have purchased ads for this keyword over the last 14 months.",
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "example.com",
                "competitor1.com",
                "competitor2.com"
              ]
            ]
          },
          "rankingHomepages": {
            "description": "Number of domain homepages (root URLs) ranking within the first 100 organic search results for this keyword.",
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "examples": [
              8
            ]
          },
          "serpFeaturesCsv": {
            "description": "Comma-separated list of SERP features present for this keyword (e.g., Images, Videos, Maps, Shopping), indicating competition for organic real estate.",
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "Images,Maps"
            ]
          },
          "serpFirstResult": {
            "description": "Domain name of the top-ranking organic result for this keyword, useful for identifying category leaders.",
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "example.com"
            ]
          },
          "isQuestion": {
            "description": "Indicates whether this keyword is phrased as a question (who, what, when, where, why, how).",
            "type": "boolean",
            "examples": [
              false
            ]
          },
          "isNotSafeForWork": {
            "description": "Indicates whether this keyword is flagged as containing adult or inappropriate content.",
            "type": "boolean",
            "examples": [
              false
            ]
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Basic_Authentication_Token": {
        "type": "http",
        "description": "<a href=\"https://en.wikipedia.org/wiki/Basic_access_authentication#Client_side\" target=\"_blank\">Basic Authentication</a> is a standard that involves encoding your <code>SPYFU_API_ID:SECRET_KEY</code> into a Base64 string. Your <b>SpyFu API ID</b> and <b>Secret Key</b> can both be found under the <b><a href=\"https://www.spyfu.com/account/api\" target=\"_blank\">Account Settings -> API Usage</a></b> page. Additionally, you can find the Base64 string has been pre-generated on the same page under <b>Base 64 Key</b>. Finally, this encoded string is sent in the \"Authorization\" header prefixed with the keyword \"Basic\":<br>For example, to authorize as <code>00000000-0000-0000-0000-000000000000:AB12WXYZ</code> the client would send<br><pre><code>Authorization: <span class=\"token keyword\">Basic</span> <span class=\"token constructor-invocation class-name\">MDAwMDAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMDAwMDAwMDAwOkFCMTJXWFla<span></code></pre>",
        "scheme": "basic"
      },
      "Query_Parameter_Token": {
        "type": "apiKey",
        "description": "An API key can be added as a query parameter. Your API key is listed as \"Secret Key\" found under the <b><a href=\"https://www.spyfu.com/account/api\" target=\"_blank\">Account Settings -> API Usage</a></b> page<br>For example, to authorize with the API key <code>AB12WXY</code><br><pre><code>/apis/example_api/GetExample?domain=spyfu.com<span class=\"token keyword\">&api_key=AB12WXYZ</span></code></pre>",
        "name": "api_key",
        "in": "query"
      },
      "HMAC_Authentication_Header": {
        "type": "apiKey",
        "description": "For even more security, each request can be individually authenticated with a timestamped <a href=\"https://en.wikipedia.org/wiki/HMAC\" target=\"_blank\"><b>HMAC</b></a> <em>(Hash Message Authentication Code)</em> signature. Composed of your secret key, a valid timestamp, the API request path, and all request parameters. <h3>Creating the signature:</h3><br>Combine the pieces that will be converted into the signature.<br><pre><code><span class=\"token keyword\">StringToSign</span> <span class=\"token operator\">=</span><br>&#x09;HTTP-Verb <span class=\"token operator\">+</span> <span class=\"token string\">\"\\n\"</span> <span class=\"token operator\">+</span><br>&#x09;Timestamp <span class=\"token operator\">+</span> <span class=\"token string\">\"\\n\"</span> <span class=\"token operator\">+</span><br>&#x09;UrlPath <span class=\"token operator\">+</span> <span class=\"token string\">\"\\n\"</span><br>&#x09;QueryParameters<span class=\"token operator\">;</span><br></code></pre><br>Create UTF-8 encodings of the above string and of your secret key.<br><pre><code><span class=\"token keyword\">byte</span><span class=\"token operator\">[]</span> SecretKeyBytes <span class=\"token operator\">=</span> <span class=\"token function\">UTF-8-Encoding-Of</span><span class=\"token operator\">(</span> Upper-Case-Of<span class=\"token operator\">(</span> SECRET_KEY <span class=\"token operator\">)</span> <span class=\"token operator\">)</span><span class=\"token operator\">;</span><br><span class=\"token keyword\">byte</span><span class=\"token operator\">[]</span> StringToSignBytes <span class=\"token operator\">=</span> <span class=\"token function\">UTF-8-Encoding-Of</span><span class=\"token operator\">(</span> StringToSign <span class=\"token operator\">)</span><span class=\"token operator\">;</span><br></code></pre><br>Use an implementation of HMAC256 using your UTF-8 secret key to encode the combined string of your request. This should then be converted to Base64 to finish creating your signature.<br><pre><code><span class=\"token keyword\">Signature</span> <span class=\"token operator\">=</span> <span class=\"token function\">Base64</span><span class=\"token operator\">(</span> <span class=\"token function\">HMAC-SHA256</span><span class=\"token operator\">(</span> SecretKeyBytes, StringToSignBytes <span class=\"token operator\">)</span> <span class=\"token operator\">)</span><span class=\"token operator\">;</span><br></code></pre><br><h3>Using the signature:</h3><br>This signature is then sent in through an Authentication header with your username.<br><pre><code>Authentication<span class=\"token operator\">:</span> <span class=\"token keyword\">UserName</span><span class=\"token operator\">:</span><span class=\"token invocation class-name\">Signature</span></code></pre>",
        "name": "Authentication",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Basic_Authentication_Token": []
    },
    {
      "Query_Parameter_Token": []
    },
    {
      "HMAC_Authentication_Header": []
    }
  ]
}