{
  "openapi": "3.1.0",
  "info": {
    "title": "SpyFu API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.spyfu.com/apis"
    }
  ],
  "paths": {
    "/cloud_ad_history_api/v2/domain/getDomainAdHistory": {
      "get": {
        "tags": [
          "Ad History Research API"
        ],
        "summary": "Ad history by domain",
        "description": "Ad History The SpyFu Ad History API helps you Ad history by domain",
        "operationId": "SellableAdHistoryApi_GetDomainAdHistory_GET",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to get ad history for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "apple.com"
            },
            "example": "apple.com"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows of data to return",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiDomainAdHistoryWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/cloud_ad_history_api/v2/term/getTermAdHistory": {
      "get": {
        "tags": [
          "Ad History Research API"
        ],
        "summary": "Ad history by term",
        "description": "Ad History The SpyFu Ad History API helps you Ad history by term",
        "operationId": "SellableAdHistoryApi_GetTermAdHistory_GET",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Term to get ad history for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "running shoes"
            },
            "example": "running shoes"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows of data to return",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiTermAdHistoryWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/cloud_ad_history_api/v2/term/getTermAdHistoryWithStats": {
      "get": {
        "tags": [
          "Ad History Research API"
        ],
        "summary": "Ad history by term with domain stats",
        "description": "Ad History The SpyFu Ad History API helps you Ad history by term with domain stats",
        "operationId": "SellableAdHistoryApi_GetTermAdHistoryWithStats_GET",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "Term to get ad history for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "running shoes"
            },
            "example": "running shoes"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows of data to return",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiTermAdHistoryStatsWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/competitors_api/v2/ppc/getTopCompetitors": {
      "get": {
        "tags": [
          "Competitors API"
        ],
        "summary": "Top PPC Competitors",
        "description": "Competitors The SpyFu Competitors API helps you find top competitors in your space. Many business owners recognize their direct competition upfront, but in online marketing, ANYONE can be a competitor.Top PPC competitors for a domain that buys ads for the same keywords",
        "operationId": "SellableCompetitorsApi_GetTopPpcCompetitors_GET",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to get competitors for",
            "required": true,
            "schema": {
              "type": "string",
              "example": "apple.com"
            },
            "example": "apple.com"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 550,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 550,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiCompetitorWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/competitors_api/v2/seo/getTopCompetitors": {
      "get": {
        "tags": [
          "Competitors API"
        ],
        "summary": "Top SEO Competitors",
        "description": "Competitors The SpyFu Competitors API helps you find top competitors in your space. Many business owners recognize their direct competition upfront, but in online marketing, ANYONE can be a competitor.Top SEO competitors for a domain that ranks for the same keywords",
        "operationId": "SellableCompetitorsApi_GetTopSeoCompetitors_GET",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to get competitors for",
            "required": true,
            "schema": {
              "type": "string",
              "example": "apple.com"
            },
            "example": "apple.com"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 550,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 550,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiCompetitorWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/competitors_api/v2/combined/getCombinedTopCompetitors": {
      "get": {
        "tags": [
          "Competitors API"
        ],
        "summary": "Combined Top Competitors",
        "description": "Competitors The SpyFu Competitors API helps you find top competitors in your space. Many business owners recognize their direct competition upfront, but in online marketing, ANYONE can be a competitor.Combined top PPC & SEO competitors for a domain",
        "operationId": "SellableCompetitorsApi_GetCombinedTopCompetitors_GET",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to get competitors for",
            "required": true,
            "schema": {
              "type": "string",
              "example": "apple.com"
            },
            "example": "apple.com"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 550,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 550,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiCombinedCompetitorsWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/related/getRelatedKeywords": {
      "get": {
        "tags": [
          "Keyword Research API"
        ],
        "summary": "Related Keywords",
        "description": "Our Related Keywords tool was updated to load you with strong ideas for new content and ads that convert.These suggested keywords are closest in theme and category. These are meant to help you expand your reach with relevant, competitive terms.",
        "operationId": "SellableRelatedKeywordsV2Api_GetRelatedKeywords_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The keywords to query for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "shoes"
            },
            "example": "shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": null,
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/related/getQuestionKeywords": {
      "get": {
        "tags": [
          "Keyword Research API"
        ],
        "summary": "Question Keywords",
        "description": "Our Related Keywords tool was updated to load you with strong ideas for new content and ads that convert.These questions can help inspire new content to answer what people are asking about this topic.",
        "operationId": "SellableRelatedKeywordsV2Api_GetQuestionKeywords_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The keywords to query for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "shoes"
            },
            "example": "shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": null,
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/related/getAlsoBuysAdsForKeywords": {
      "get": {
        "tags": [
          "Keyword Research API"
        ],
        "summary": "Also Buys Ads For Keywords",
        "description": "Our Related Keywords tool was updated to load you with strong ideas for new content and ads that convert.This list includes keywords that the top advertisers on your target keyword also buy.",
        "operationId": "SellableRelatedKeywordsV2Api_GetAlsoBuysAdsForKeywords_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The keywords to query for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "shoes"
            },
            "example": "shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": null,
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/related/getAlsoRanksForKeywords": {
      "get": {
        "tags": [
          "Keyword Research API"
        ],
        "summary": "Also Ranks For Keywords",
        "description": "Our Related Keywords tool was updated to load you with strong ideas for new content and ads that convert.This list includes keywords that the top ranking domains for your target keyword also rank for.",
        "operationId": "SellableRelatedKeywordsV2Api_GetAlsoRanksForKeywords_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The keywords to query for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "shoes"
            },
            "example": "shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": null,
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/related/getTransactionKeywords": {
      "get": {
        "tags": [
          "Keyword Research API"
        ],
        "summary": "Transactional Keywords",
        "description": "Our Related Keywords tool was updated to load you with strong ideas for new content and ads that convert.These tend to match keywords with buying signals. Searches like these are more often tied to people who are ready to convert.",
        "operationId": "SellableRelatedKeywordsV2Api_GetTransactionKeywords_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The keywords to query for.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "shoes"
            },
            "example": "shoes"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": null,
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/related/getKeywordInformation": {
      "post": {
        "tags": [
          "Keyword Research API"
        ],
        "summary": "Post Keywords By Bulk Search",
        "description": "Our Related Keywords tool was updated to load you with strong ideas for new content and ads that convert.Get keyword information for the exact keywords you are looking for",
        "operationId": "SellableRelatedKeywordsV2Api_GetKeywordsByBulkSearchPost_POST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiBulkKeywordsInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiBulkKeywordsInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PublicApiBulkKeywordsInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/kombat/getCompetingPpcKeywords": {
      "get": {
        "tags": [
          "Kombat API"
        ],
        "summary": "Paid Kombat Keywords",
        "description": "Compare competitor keywords to find gaps in your coverage and uncover top-performing industry terms. Add more competitors for broader insight, spot wasted spend, and get stronger buy signals. Exclude domains to filter out overlap and focus on what truly matters.",
        "operationId": "SellableKombatApi_GetCompetingPpcKeywords_GET",
        "parameters": [
          {
            "name": "includeDomainsCsv",
            "in": "query",
            "description": "CSV list of domains to include in results",
            "required": true,
            "schema": {
              "type": "string",
              "example": "spyfu.com,semrush.com"
            },
            "example": "spyfu.com,semrush.com"
          },
          {
            "name": "excludeDomainsCsv",
            "in": "query",
            "description": "CSV list of domains to exclude in results",
            "schema": {
              "type": "string",
              "example": "kwfinder.com"
            },
            "example": "kwfinder.com"
          },
          {
            "name": "isIntersection",
            "in": "query",
            "description": "Keywords (True:ALL/False:ANY) the domains contain.",
            "required": true,
            "schema": {
              "type": "boolean",
              "example": true
            },
            "example": true
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": "SearchVolume",
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows of data to return",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/kombat/getCompetingSeoKeywords": {
      "get": {
        "tags": [
          "Kombat API"
        ],
        "summary": "Organic Kombat Keywords",
        "description": "Compare competitor keywords to find gaps in your coverage and uncover top-performing industry terms. Add more competitors for broader insight, spot wasted spend, and get stronger buy signals. Exclude domains to filter out overlap and focus on what truly matters.",
        "operationId": "SellableKombatApi_GetCompetingSeoKeywords_GET",
        "parameters": [
          {
            "name": "includeDomainsCsv",
            "in": "query",
            "description": "CSV list of domains to include in results",
            "required": true,
            "schema": {
              "type": "string",
              "example": "spyfu.com,semrush.com"
            },
            "example": "spyfu.com,semrush.com"
          },
          {
            "name": "excludeDomainsCsv",
            "in": "query",
            "description": "CSV list of domains to exclude in results",
            "schema": {
              "type": "string",
              "example": "kwfinder.com"
            },
            "example": "kwfinder.com"
          },
          {
            "name": "isIntersection",
            "in": "query",
            "description": "Keywords (True:ALL/False:ANY) the domains contain.",
            "required": true,
            "schema": {
              "type": "boolean",
              "example": true
            },
            "example": true
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": "SearchVolume",
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows of data to return",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/domain_stats_api/v2/getAllDomainStats": {
      "get": {
        "tags": [
          "Domain Stats API"
        ],
        "summary": "Domain Stats For All Time",
        "description": "Domain Stats Want to know what your top competitors are up to? Learn about a company’s domain history, and their current progress. Learn from their mistakes and successes.Returns domain stats for all active dates.",
        "operationId": "SellableDomainStatsApi_GetAllDomainStats_GET",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to search",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woot.com"
            },
            "example": "woot.com"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiDomainStatsWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/domain_stats_api/v2/getLatestDomainStats": {
      "get": {
        "tags": [
          "Domain Stats API"
        ],
        "summary": "Latest Domain Stats",
        "description": "Domain Stats Want to know what your top competitors are up to? Learn about a company’s domain history, and their current progress. Learn from their mistakes and successes.Returns the most recent domain stats collected for the Domain.",
        "operationId": "SellableDomainStatsApi_GetLatestDomainStats_GET",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to search",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woot.com"
            },
            "example": "woot.com"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiDomainStatsWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/domain_stats_api/v2/getDomainStatsForExactDate": {
      "get": {
        "tags": [
          "Domain Stats API"
        ],
        "summary": "Domain Stats For Exact Date",
        "description": "Domain Stats Want to know what your top competitors are up to? Learn about a company’s domain history, and their current progress. Learn from their mistakes and successes.Returns the domain stats for the Domain for an exact date.",
        "operationId": "SellableDomainStatsApi_GetDomainStatsForExactDate_GET",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "Month to search",
            "required": true,
            "schema": {
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "example": 6
            },
            "example": 6
          },
          {
            "name": "year",
            "in": "query",
            "description": "Year to search",
            "required": true,
            "schema": {
              "maximum": 2025,
              "minimum": 2006,
              "type": "integer",
              "format": "int32",
              "example": 2020
            },
            "example": 2020
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to search",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woot.com"
            },
            "example": "woot.com"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiDomainStatsWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/domain_stats_api/v2/getActiveDatesForDomain": {
      "get": {
        "tags": [
          "Domain Stats API"
        ],
        "summary": "Active Dates For Domain",
        "description": "Domain Stats Want to know what your top competitors are up to? Learn about a company’s domain history, and their current progress. Learn from their mistakes and successes.Returns a list of dates that we have data for the Domain.",
        "operationId": "SellableDomainStatsApi_GetActiveDatesForDomain_GET",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "description": "Domain to search",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woot.com"
            },
            "example": "woot.com"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiSearchDateListOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/ppc/getMostSuccessful": {
      "get": {
        "tags": [
          "PPC Research API"
        ],
        "summary": "Most Successful",
        "description": "Start with popular terms in your industry, measure what you run and then test potential keywords.This includes all of the domain's paid keywords that we've seen over the past year, sorted in order of their most highly-searched, relevant keywords.",
        "operationId": "SellablePaidSerpApi_GetMostSuccessful_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain or URL to search.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woot.com"
            },
            "example": "woot.com"
          },
          {
            "name": "excludeDomain",
            "in": "query",
            "description": "Domain to exclude from results.",
            "schema": {
              "type": "string",
              "example": "offers.com"
            },
            "example": "offers.com"
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "CSV of terms that are required to be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Include ANY or ALL terms.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "CSV of terms that are required to not be in the results.",
            "schema": {
              "type": "string",
              "example": "amazon"
            },
            "example": "amazon"
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": "SearchVolume",
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/keyword_api/v2/ppc/getNewKeywords": {
      "get": {
        "tags": [
          "PPC Research API"
        ],
        "summary": "New Keywords",
        "description": "Start with popular terms in your industry, measure what you run and then test potential keywords.Will only show the keywords that the advertiser has started buying for the first time.",
        "operationId": "SellablePaidSerpApi_GetNewKeywords_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain or URL to search.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woot.com"
            },
            "example": "woot.com"
          },
          {
            "name": "excludeDomain",
            "in": "query",
            "description": "Domain to exclude from results.",
            "schema": {
              "type": "string",
              "example": "offers.com"
            },
            "example": "offers.com"
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "CSV of terms that are required to be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Include ANY or ALL terms.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "CSV of terms that are required to not be in the results.",
            "schema": {
              "type": "string",
              "example": "amazon"
            },
            "example": "amazon"
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "LiveSearchVolume",
                "RankingDifficulty",
                "TotalMonthlyClicks",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentSearchesNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "PhraseCostPerClick",
                "ExactCostPerClick",
                "BroadMonthlyClicks",
                "PhraseMonthlyClicks",
                "ExactMonthlyClicks",
                "BroadMonthlyCost",
                "PhraseMonthlyCost",
                "ExactMonthlyCost",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": "SearchVolume",
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiKeywordOverviewOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/serp_api/v2/ppc/getPaidSerps": {
      "get": {
        "tags": [
          "PPC Research API"
        ],
        "summary": "Paid SERPs",
        "description": "Start with popular terms in your industry, measure what you run and then test potential keywords.Gets a list of the paid SERPS for the given query domain.",
        "operationId": "SellablePaidSerpApi_GetPaidSerps_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain or URL to search.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woot.com"
            },
            "example": "woot.com"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "KeywordDifficulty",
                "AdPosition",
                "AdCount",
                "DateSearched"
              ],
              "type": "string",
              "default": "SearchVolume",
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          },
          {
            "name": "onlyAdultKeywords",
            "in": "query",
            "description": "Only include adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            },
            "example": false
          },
          {
            "name": "excludeHomepageKeywords",
            "in": "query",
            "description": "Exclude keywords that rank on the homepage of the searched domain.",
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            },
            "example": false
          },
          {
            "name": "keywordDifficulty.min",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "keywordDifficulty.max",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.min",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.max",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "CSV of terms that are required to be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Include ANY or ALL terms.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "CSV of terms that are required to not be in the results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiPaidSerpKeywordWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/serp_api/v2/seo/getMostValuableKeywords": {
      "get": {
        "tags": [
          "SEO Research API"
        ],
        "summary": "SEO Keywords by Value",
        "description": "Shows top organic keywords for a domain or exact page. Enter a full URL for page-specific data or a root domain for site-wide keywords. Results include search volume, rank, SEO clicks, and more.",
        "operationId": "SellableOrganicSerpApi_GetMostValuableKeywords_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain or URL to search.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woot.com"
            },
            "example": "woot.com"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "KeywordDifficulty",
                "Rank",
                "RankChange",
                "SeoClicks",
                "SeoClicksChange",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "ExactCostPerClick",
                "PhraseCostPerClick",
                "BroadMonthlyCost",
                "ExactMonthlyCost",
                "PhraseMonthlyCost",
                "TotalMonthlyClicks",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
              "default": "SearchVolume",
              "example": "SearchVolume"
            },
            "example": "SearchVolume"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order to sort the results.",
            "schema": {
              "enum": [
                "Ascending",
                "Descending"
              ],
              "type": "string",
              "default": "Descending",
              "example": "Descending"
            },
            "example": "Descending"
          },
          {
            "name": "startingRow",
            "in": "query",
            "description": "Row number to start the results with.",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1,
              "example": 1
            },
            "example": 1
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of rows returned.",
            "schema": {
              "maximum": 10000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 5,
              "example": 5
            },
            "example": 5
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "Country to get results for.",
            "schema": {
              "enum": [
                "AR",
                "AU",
                "BE",
                "BR",
                "CA",
                "CH",
                "DE",
                "DK",
                "ES",
                "FR",
                "IE",
                "IN",
                "IT",
                "JP",
                "MX",
                "NL",
                "NO",
                "NZ",
                "PT",
                "SE",
                "SG",
                "UA",
                "UK",
                "US",
                "ZA"
              ],
              "type": "string",
              "default": "US",
              "example": "US"
            },
            "example": "US"
          },
          {
            "name": "adultFilter",
            "in": "query",
            "description": "Exclude adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "example": true
          },
          {
            "name": "onlyAdultKeywords",
            "in": "query",
            "description": "Only include adult keywords considered unsafe for work.",
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            },
            "example": false
          },
          {
            "name": "excludeHomepageKeywords",
            "in": "query",
            "description": "Exclude keywords that rank on the homepage of the searched domain.",
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            },
            "example": false
          },
          {
            "name": "keywordDifficulty.min",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "keywordDifficulty.max",
            "in": "query",
            "description": "Filter by Keyword Difficulty",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.min",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "adCount.max",
            "in": "query",
            "description": "Filter by the number of total advertisers.",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.min",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "searchVolume.max",
            "in": "query",
            "description": "Filter by the number of searches done this past month on Google.com",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "includeTerms",
            "in": "query",
            "description": "CSV of terms that are required to be in the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeAnyTerm",
            "in": "query",
            "description": "Include ANY or ALL terms.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "CSV of terms that are required to not be in the results.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicApiOrganicSerpKeywordWrapperOutputDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "User failed authorization"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/serp_api/v2/seo/getNewlyRankedKeywords": {
      "get": {
        "tags": [
          "SEO Research API"
        ],
        "summary": "Newly Ranked",
        "description": "Your competitor's SEO keywords are clues toward what content they're prioritizing and what has slipped. You can see their rankings and get insights to build your own.This lists keywords that only recently started ranking in the top 100 organic spots.",
        "operationId": "SellableOrganicSerpApi_GetNewlyRankedKeywords_GET",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Domain or URL to search.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "woot.com"
            },
            "example": "woot.com"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Column to sort by.",
            "schema": {
              "enum": [
                "SearchVolume",
                "KeywordDifficulty",
                "Rank",
                "RankChange",
                "SeoClicks",
                "SeoClicksChange",
                "PercentMobileSearches",
                "PercentDesktopSearches",
                "PercentNotClicked",
                "PercentPaidClicks",
                "PercentOrganicClicks",
                "BroadCostPerClick",
                "ExactCostPerClick",
                "PhraseCostPerClick",
                "BroadMonthlyCost",
                "ExactMonthlyCost",
                "PhraseMonthlyCost",
                "TotalMonthlyClicks",
                "PaidCompetitors",
                "RankingHomepages"
              ],
              "type": "string",
[...]
